{
  "openapi": "3.0.1",
  "info": {
    "title": "Checkout API",
    "version": "1.42.4"
  },
  "tags": [
    {
      "name": "Checkout",
      "description": "Create, retrieve, update, and manage checkout sessions. A checkout session generates a hosted payment page URL that the customer visits to complete payment."
    }
  ],
  "servers": [
    {
      "url": "https://emea.gsc.verifone.cloud/oidc/checkout-service",
      "description": "EMEA"
    },
    {
      "url": "https://us.gsc.verifone.cloud/oidc/checkout-service",
      "description": "Americas"
    },
    {
      "url": "https://nz.gsc.verifone.cloud/oidc/checkout-service",
      "description": "New Zealand"
    },
    {
      "url": "https://cst.test-gsc.vfims.com/oidc/checkout-service",
      "description": "Global Sandbox"
    },
    {
      "url": "https://uscst-gb.gsc.vficloud.net/oidc/checkout-service",
      "description": "US Sandbox"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using entity credentials (username:password encoded in Base64)."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token obtained via the OIDC authentication endpoint."
      }
    },
    "schemas": {
      "CreateCheckoutRequest": {
        "title": "StandardRequest",
        "required": [
          "amount",
          "configurations",
          "currency_code",
          "entity_id"
        ],
        "type": "object",
        "properties": {
          "entity_id": {
            "type": "string",
            "description": "Entity Id can be located on the organization level as Organization ID (Administration > Organizations > [Organization] > Organisation ID value)"
          },
          "currency_code": {
            "type": "string",
            "description": "Currency code",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LVL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STD",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XTS",
              "XXX",
              "YER",
              "ZAR",
              "ZMK",
              "ZMW",
              "BTC"
            ]
          },
          "amount": {
            "maximum": 9007199254740991,
            "minimum": 0,
            "type": "integer",
            "description": "Transaction amount - Transaction with zero amount value will be considered as account verification  and by default implicitly capture will be set to false for AV transaction"
          },
          "customer": {
            "type": "string",
            "description": "<p>ID of a Customer created via the <a target='_blank' href=\"https://docs.verifone.com/api-reference/open-api-references/customer\">Customer API</a>. A customer object can be created and attached to a Checkout. The customer object can store relevant customer details. Some of these details might be required, depending on the payment method and/or authentication mechanisms (e.g., 3DS) used in the Checkout</p>"
          },
          "configurations": {
            "$ref": "#/components/schemas/PaymentConfigurations"
          },
          "expiry_time": {
            "type": "string",
            "description": "Expiry time of the Checkout page. Defaults to 15 min from creation time. If a user tries to visit or use an expired Checkout, an error will be shown. Maximum value is 30 days.",
            "format": "date"
          },
          "merchant_reference": {
            "maxLength": 50,
            "pattern": "^[^=+\\-@].*",
            "type": "string",
            "description": "Reference provided by Merchant to identify the Checkout and the transaction initiated from it"
          },
          "return_url": {
            "type": "string",
            "description": "URL belonging to the Merchant website, where the Customer would be redirected after the Checkout has been completed. If this parameter is used, the customer will be redirected after spending 10 seconds on the payment confirmation page provided by Verifone in case of HPP and PAYMENT LINK transactions. For IFRAME transaction the redirect is performed right after the checkout page without passing through the payment confirmation page.   <br /> <b>Note 1:</b> The return_url accepts only securely connected URLs i.e., via https protocol. <br /> <b>Note 2:</b> The time after which redirection happens can be customized using redirect_method."
          },
          "shop_url": {
            "type": "string",
            "description": "URL belonging to the Merchant website, where the Customer would be redirected in case of cancelled Checkout. <br /> <b>Note:</b> Only applicable to HPP or PAYMENT_LINK interaction type."
          },
          "i18n": {
            "$ref": "#/components/schemas/I18nConfiguration"
          },
          "interaction_type": {
            "type": "string",
            "description": "Type of checkout. Allows for distinguishing payments accepted via different channels. <br /> Possible Values: <br />  * HPP - For payments done as Hosted Payments Page integration.<br />  * IFRAME - For payments done as an Iframe integration.<br /> * PAYMENT_LINK - For payments done through the Payment link feature in the merchant portal.",
            "default": "HPP",
            "enum": [
              "HPP",
              "IFRAME",
              "PAYMENT_LINK"
            ]
          },
          "notification_methods": {
            "$ref": "#/components/schemas/notification_methods"
          },
          "display_line_items": {
            "type": "boolean",
            "description": "Indicates whether line items should be displayed on the page. Defaults to true",
            "default": true
          },
          "line_items": {
            "description": "List of shopping cart items to be displayed on the page.\n \nIMPORTANT: Please read the <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/checkout/line-items\">Line items</a> documentation for required parameters depending on your payment methods.",
            "title": "Ecommerce basket line items",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "theme_id": {
            "type": "string",
            "description": "Parameter that was created within the create theme API call that applies the customizations upon the checkout interface. Read <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/checkout/theming\">Theming</a> for details."
          },
          "receipt_type": {
            "type": "string",
            "description": "Can be used to send different invoices to the customer. <br /> Possible Values: <br />  * INVOICE <br />  * FULL_RECEIPT <br />  * SIMPLE_RECEIPT <br />  * INVOICE_RECEIPT <br />",
            "enum": [
              "INVOICE",
              "FULL_RECEIPT",
              "SIMPLE_RECEIPT",
              "INVOICE_RECEIPT"
            ]
          },
          "sales_description": {
            "maxLength": 200,
            "type": "string",
            "description": "General description of the document"
          },
          "sales_channel": {
            "type": "string",
            "description": "Channel used to process transactions. <br /> Possible Values: <br />  * ECOMMERCE <br/>  * MOTO <br /> For sales_channel MOTO, no card.shopper_interaction is needed to be sent for this option.",
            "enum": [
              "ECOMMERCE",
              "MOTO"
            ]
          },
          "customer_details": {
            "$ref": "#/components/schemas/customer_details"
          },
          "purchase_order_number": {
            "type": "string",
            "description": "Reference number that facilitates card acceptor/corporation communication and record keeping."
          },
          "tax_indicator": {
            "type": "string",
            "description": "Flag that indicates whether an order is taxable.",
            "enum": [
              "TAX_NOT_PROVIDED",
              "TAX_PROVIDED",
              "NON_TAXABLE"
            ]
          },
          "tax_amount": {
            "type": "number",
            "description": "Total tax amount for all the items offers."
          },
          "promo_code": {
            "type": "string",
            "description": "A code defined by the merchant that affects the calculation of the total amount."
          },
          "invoice_number": {
            "maxLength": 127,
            "type": "string",
            "description": "The invoice number to track this payment. <br /> <b>Note:</b> Valid for card payments only."
          },
          "transaction_type": {
            "type": "string",
            "description": "this field is only applicable for virtual terminal. Supported value for this field is UNMATCHED_REFUND."
          },
          "allow_customer_inputs": {
            "type": "boolean",
            "default": false,
            "description": "Allows customer to enter or update their billing/shipping information on the hosted payments page.Only applicable for HPP and PAYMENT_LINK interaction types."
          },
          "checkout_template_id": {
            "type": "string",
            "description": "Checkout template UUID  \n**WARNING**: Only active template allowed.\n"
          },
          "redirect_method": {
            "type": "string",
            "enum": [
              "DEFAULT",
              "HEADER_REDIRECT"
            ],
            "description": "Configures the redirect behaviour for return_url on successful payment when interaction type is either HPP or PAYMENT_LINK </br>\n     * DEFAULT: The customer will be redirected after spending 10 seconds on the payment confirmation page provided by Verifone. </br>\n     * HEADER_REDIRECT: The payment confirmation page is skipped and the customer is redirected immediately. <br /> \n    <b>Note:</b> This parameter does not have any effect when interaction type is IFRAME. "
          },
          "handle_order_confirmation": {
            "type": "boolean",
            "description": "This change will remove the payment confirmation page from the user interface. Payment actions will now be managed through postMessage events.<br /> Checkout Events: <br /> * CHECKOUT_RENDERED: Indicates successful iFrame loading. <br /> * CHECKOUT_RENDERED_FAILED: Signals iFrame loading failure. <br /> * CARD_DETAILS_ENTERED: Triggered after the cardholder inputs card details. <br /> * CHECKOUT_FAILED: Occurs when the checkout process encounters an error. <br /> Payment Action listerer events: <br /> * CONTINUE: Initiates the payment process. <br /> **Note:** This parameter has no effect when the interaction type is HPP or PAYMENT_LINK.",
            "default": false
          },
          "show_confirmation_page": {
            "type": "boolean",
            "description": "This change will remove the payment confirmation page from the user interface. Payment actions will now be managed through postMessage events.<br /> Checkout Events: <br /> * CARD_CAPTURE_SUCCESS: Indicates successful card capture. <br /> * CHECKOUT_COMPLETED: Signals successful completion of the checkout process. <br /> * CHECKOUT_FAILED: Occurs when the checkout process encounters an error. <br /> **Note:** This parameter has no effect when the interaction type is HPP or PAYMENT_LINK.",
            "default": true
          },
          "promo_financing_details": {
            "$ref": "#/components/schemas/promo_financing_details"
          }
        }
      },
      "PaymentConfigurations": {
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/CardConfiguration"
          },
          "gpp2": {
            "$ref": "#/components/schemas/GPP2PaymentConfig"
          },
          "gift_card": {
            "$ref": "#/components/schemas/gift_card"
          },
          "paypal": {
            "$ref": "#/components/schemas/PaypalPaymentConfig"
          },
          "google_pay": {
            "$ref": "#/components/schemas/GooglePayPaymentConfig"
          },
          "apple_pay": {
            "$ref": "#/components/schemas/apple_pay"
          },
          "klarna": {
            "$ref": "#/components/schemas/KlarnaPaymentConfig"
          },
          "vipps": {
            "$ref": "#/components/schemas/VippsPaymentConfigRequest"
          },
          "swish": {
            "$ref": "#/components/schemas/swish_req"
          },
          "mobile_pay": {
            "$ref": "#/components/schemas/mobile_pay_req"
          },
          "bank": {
            "$ref": "#/components/schemas/bank"
          },
          "plcc": {
            "$ref": "#/components/schemas/plcc"
          }
        },
        "description": "Payment method configurations"
      },
      "CardConfiguration": {
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "3DS_PAYMENT": "#/components/schemas/CardMode3DSPayment",
            "3DS": "#/components/schemas/CardMode3DS",
            "PAYMENT": "#/components/schemas/CardModePayment",
            "CARD_CAPTURE": "#/components/schemas/CardModeCapture"
          }
        },
        "anyOf": [
          {
            "$ref": "#/components/schemas/CardMode3DSPayment"
          },
          {
            "$ref": "#/components/schemas/CardMode3DS"
          },
          {
            "$ref": "#/components/schemas/CardModePayment"
          },
          {
            "$ref": "#/components/schemas/CardModeCapture"
          }
        ],
        "type": "object",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/card_mode"
          },
          "card_capture_mode": {
            "$ref": "#/components/schemas/card_capture_mode"
          },
          "cvv_required": {
            "type": "boolean",
            "description": "Indicates whether cvv is required",
            "default": false
          },
          "input_overrides": {
            "anyOf": [
              {
                "$ref": "#/x-alt-definitions/input_overrides"
              },
              {
                "$ref": "#/x-alt-definitions/Model2"
              }
            ]
          }
        },
        "description": "Card payment configuration"
      },
      "CardMode3DSPayment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/basic_card"
          },
          {
            "type": "object",
            "required": [
              "threed_secure",
              "payment_contract_id"
            ],
            "properties": {
              "threed_secure": {
                "$ref": "#/components/schemas/threed_secure"
              },
              "dynamic_descriptor": {
                "maxLength": 25,
                "type": "string",
                "description": "Value is displayed as short text on the bank statement of the cardholder"
              },
              "capture_now": {
                "type": "boolean",
                "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE. ",
                "default": true
              },
              "shopper_interaction": {
                "type": "string",
                "description": "Used to indicate the channel used by to send they checkout link <br /> * ECOMMERCE",
                "enum": [
                  "ECOMMERCE"
                ]
              },
              "account_validation": {
                "type": "boolean",
                "description": "Indicates whether the card transaction should be processed as Account Validation request instead. If set to true, the amount provided for the Checkout would be ignored and the transaction be processed with amount: 0",
                "default": false
              },
              "authorization_type": {
                "type": "string",
                "description": "Card Authorization Type (PRE_AUTH, FINAL_AUTH).  When capture now is set to true pre-authorization transactions cannot be done.",
                "default": "FINAL_AUTH"
              },
              "payment_contract_id": {
                "$ref": "#/components/schemas/payment_contract_id"
              },
              "token_preference": {
                "$ref": "#/x-alt-definitions/card_token_preference"
              },
              "credit_term": {
                "type": "string",
                "description": "Determines the transaction type. Only applicable for ABS Acquirer. Available options: <br /> STANDARD - Sale <br /> PREFERRED - Sale - Preferred Isracard <br /> DEBIT - Sale - Direct Debit <br /> INSTALMENT_STANDARD - Instalment standard <br /> INSTALMENT_CREDIT - Instalment credit<br />",
                "enum": [
                  "DEBIT",
                  "STANDARD",
                  "PREFERRED",
                  "INSTALMENT_CREDIT",
                  "INSTALMENT_STANDARD"
                ]
              },
              "instalment": {
                "$ref": "#/components/schemas/InstalmentConfiguration"
              },
              "stored_credential": {
                "$ref": "#/components/schemas/stored_credential"
              },
              "additional_business_data": {
                "$ref": "#/components/schemas/additional_business_data"
              },
              "reuse_token": {
                "maxLength": 4096,
                "type": "string",
                "description": "The identifier used to represent the Cardholder data."
              }
            }
          }
        ]
      },
      "basic_card": {
        "type": "object",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/card_mode"
          },
          "card_capture_mode": {
            "$ref": "#/components/schemas/card_capture_mode"
          },
          "cvv_required": {
            "type": "boolean",
            "description": "Indicates whether cvv is required",
            "default": false
          },
          "input_overrides": {
            "anyOf": [
              {
                "$ref": "#/x-alt-definitions/input_overrides"
              },
              {
                "$ref": "#/x-alt-definitions/Model2"
              }
            ]
          }
        },
        "description": "Card payment configuration"
      },
      "card_mode": {
        "type": "string",
        "description": "- `PAYMENT` - A checkout is created with the intent to perform a card payment. Verifone takes care of the full payment process and returns the final transaction response to the merchant, alongside any related details to it. Requires providing payment provider contract details. <br>\n- `3DS_PAYMENT` - Same as `PAYMENT` but with performing 3DS verification. <br>\n- `CARD_CAPTURE` - A checkout is created with intent to retrieve customer's card data. The checkout captures the card data of the shopper, encrypts it and returns it to the Merchant. The Merchant then uses the encrypted card data to perform 3DS and/or payments with it.<br /> The following fields are not required: <br />  * amount <br />  * currency_code <br />  * receipt_type <br /> Note: This option only returns an encrypted card in the end of the checkout process, no transaction is performed. You must perform the read checkout to get the encrypted card.\n- `3DS` - A checkout is created with intent to perform 3DS verification for the cardholder. The checkout captures the card data and performs 3DS verification with it and returns both card data and 3DS results to the Merchant. The merchant then can then use the encrypted card data to perform a payment with it. Requires providing 3DS contract details.",
        "enum": [
          "PAYMENT",
          "3DS_PAYMENT",
          "CARD_CAPTURE",
          "3DS"
        ]
      },
      "card_capture_mode": {
        "type": "string",
        "description": "Method of capturing card data.\nv2 is used by default as the recommended method.\nv1 is considered deprecated and is not supported for new integrations.",
        "enum": [
          "v2",
          "v1"
        ]
      },
      "threed_secure": {
        "required": [
          "enabled",
          "threeds_contract_id"
        ],
        "type": "object",
        "description": "Used for <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/checkout/accepting-payments/3d-secure-payments\">3D-Secure payments</a>",
        "properties": {
          "account_age_indicator": {
            "type": "string",
            "description": "Length of time cardholder has had account. <br /> Possible Values: <br />  * 01 - No account <br />  * 02 - Created during transaction <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "account_create_date": {
            "type": "string",
            "description": "Date the cardholder opened the account. `Format: YYYYMMDD`",
            "format": "date"
          },
          "account_change_indicator": {
            "type": "string",
            "description": "Length of time since the last change to the cardholder account. This includes shipping address, <br /> new payment account or new user added. Possible Values: <br /> * 01 - Changed during transaction <br /> * 02 - Less than 30 days <br /> * 03 - 30-60 days <br /> * 04 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "account_change_date": {
            "type": "string",
            "description": "Date the cardholder's account was last changed. This includes changes to the billing or shipping address, new payment accounts or new users added.` Format: YYYYMMDD` <br />",
            "format": "date"
          },
          "account_pwd_change_indicator": {
            "type": "string",
            "description": "Length of time since the cardholder changed or reset the password on the account. <br />  Possible Values: <br />  * 01 - No change <br />  * 02 - Changed during transaction <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "account_pwd_change_date": {
            "type": "string",
            "description": "Date the cardholder last changed or reset password on account. `Format: YYYYMMDD`",
            "format": "date"
          },
          "account_id": {
            "maxLength": 64,
            "type": "string",
            "description": "Additional cardholder account information."
          },
          "account_purchases": {
            "maximum": 9999,
            "type": "integer",
            "description": "Number of purchases with this cardholder account during the previous six months."
          },
          "acs_window_size": {
            "type": "string",
            "description": "An override field that a merchant can pass in to set the challenge window size to display to the end <br /> cardholder.The ACS will reply with content that is formatted appropriately to this window size to allow <br /> for the best user experience. The sizes are width x height in pixels of the window displayed in <br /> the cardholder browser window. Possible values: <br />  * 01 - 250x400 <br />  * 02 - 390x400 <br />  * 03 - 500x600 <br />  * 04 - 600x400 <br />  * 05 - Full page <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "add_card_attempts": {
            "maximum": 999,
            "type": "integer",
            "description": "Number of add card attempts in the last 24 hours."
          },
          "address_match": {
            "type": "string",
            "description": "Indicates whether cardholder billing and shipping addresses match. <br /> Possible Values: <br />  * Y - Shipping address matches billing address <br />  * N - Shipping address does not match billing address <br />",
            "enum": [
              "Y",
              "N"
            ]
          },
          "alternate_authentication_method": {
            "type": "string",
            "description": "Mechanism used by the cardholder to authenticate to the 3DS requester. <br />  Possible Values: <br />  * 01 - No authentication occurred (e.g. Guest Checkout) <br />  * 02 - Login to the cardholder account at the Merchant system using Merchant system credentials <br />  * 03 - Login to the cardholder account at the Merchant system using a Federated ID <br />  * 04 - Login to the cardholder account at the Merchant system using Issuer credentials <br />  * 05 - Login to the cardholder account at the Merchant system using third-party authentication <br />  * 06 - Login to the cardholder account at the Merchant system using FIDO Authenticator <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06"
            ]
          },
          "alternate_authentication_date": {
            "type": "string",
            "description": "Date and time in UTC of the cardholder authentication. ` Format: YYYYMMDDHHMM`",
            "format": "date"
          },
          "alternate_authentication_data": {
            "maxLength": 2048,
            "type": "string",
            "description": "Data that documents and supports a specific authentication <br /> process that was sent in the AlternateAuthenticationMethod field. <br />"
          },
          "threeds_contract_id": {
            "maxLength": 36,
            "type": "string",
            "description": "The ID of the threeDSContract used."
          },
          "authentication_indicator": {
            "type": "string",
            "description": "Indicates the type of Authentication request. 01 - Payment transaction <br />  02 - Recurring transaction  <br />  03 - Installment transaction  <br />  04 - Add card  <br />  05 - Maintain card  <br />  06 - Cardholder verification as part of EMV token ID&V <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06"
            ]
          },
          "category_code": {
            "maximum": 9999,
            "type": "integer",
            "description": "Merchant category code (MCC) <br /> <b>Note:</b> This value is always taken from 3-D Secure Contract. If 3-D Secure Contract is not configured with MCC, Cardinal will use the default value configured. <br />",
            "deprecated": true
          },
          "challenge_indicator": {
            "type": "string",
            "description": "NOTE: This is a 2.0 required field, Cardinal will default to 01 on Merchant Configuration <br /> - can be overridden by the merchant. Possible Values: <br /> * 01 - No preference <br /> * 02 - No challenge requested <br /> * 03 - Challenge requested (3DS Requestor Preference) <br /> * 04 - Challenge requested (Mandate) <br /> * 05 - No challenge requested (transactional risk analysis is already performed) <br /> * 06 - No challenge requested (Data share only) <br /> * 07 - No challenge requested (strong consumer authentication is already performed) <br /> * 08 - No challenge requested (utilise whitelist exemption if no challenge required) <br /> * 09 - Challenge requested (whitelist prompt requested if challenge required) <br /> * 90 - CB specific value <br />",
            "default": "01",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "90"
            ]
          },
          "delivery_email": {
            "maxLength": 255,
            "type": "string",
            "description": "For electronic delivery, email address to which the merchandise was delivered."
          },
          "delivery_time_frame": {
            "type": "string",
            "description": "Indicates the delivery timeframe.  <br /> Possible Values: <br />  * 01 - Electronic delivery <br />  * 02 - Same day shipping <br />  * 03 - Overnight shipping <br />  * 04 - Two or more day shipping <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether 3DS should be used."
          },
          "fraud_activity": {
            "type": "string",
            "description": "Indicates whether the merchant experienced suspicious activity (including previous fraud) on the account. <br /> Possible Values: <br />  * 01 - No suspicious activity <br />  * 02 - Suspicious activity observed <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "gift_card_amount": {
            "maximum": 999999999999999,
            "type": "integer",
            "description": "The purchase amount total for prepaid gift cards in major units. <br /> Example: $123.45 USD = 12345 <br />"
          },
          "gift_card_currency_code": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "ISO 4217 currency code for the gift card purchased."
          },
          "gift_card_count": {
            "maximum": 99,
            "type": "integer",
            "description": "Total count of individual prepaid gift cards purchased."
          },
          "installment": {
            "maximum": 999,
            "minimum": 2,
            "type": "number",
            "description": "Indicates the maximum number of authorizations for installment payments. An integer value greater than 1 indicating the maximum number of permitted authorizations for installment payments. ** Required for Recurring and Installment transactions, when authenticationIndicator=\"02\" & \"03\" **"
          },
          "message_category": {
            "type": "string",
            "description": "Category of the message for a specific use case. <br />  Possible Values: <br />  * 01 - PA (payment) <br />  * 02 - NPA (non payment) <br />  NOTE: Default is payment (01). Configured on Merchant account, or can be overridden on transaction. <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "payment_use_case": {
            "type": "string",
            "description": "Indicates the type of payment.The value from this field will be mapped to the data field on the CB-USECASE extension <br />  Possible Values: <br />  * 01 - Single Payment <br />  * 02 - Fixed Amount and Term Subscription <br />  * 03 - Payment By Instalments <br />  * 04 - Payment By Shipment <br />  * 05 - Other Recurring Payments <br />  NOTE: Required for CB transactions (Required if message_category = 01, or message_category = 02 and authentication_indicator = 02 or 03 <br />",
            "default": "01",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "payment_account_indicator": {
            "type": "string",
            "description": "Indicates the length of time that the payment account was enrolled in the merchant account. <br /> Possible Values: <br />  * 01 - No account (guest checkout) <br />  * 02 - During the transaction <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "payment_account_age": {
            "type": "string",
            "description": "Date the payment account was added to the cardholder account. ` Format: YYYYMMDD`",
            "format": "date"
          },
          "pre_order_indicator": {
            "type": "string",
            "description": "Indicates whether cardholder is placing an order with a future availability or release date. <br />  Possible Values: <br />  * 01 - Merchandise available <br />  * 02 - Future availability <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "pre_order_date": {
            "type": "string",
            "description": "Expected date that a pre-ordered purchase will be available. `Format: YYYYMMDD`",
            "format": "date"
          },
          "prior_authentication_data": {
            "maxLength": 2048,
            "type": "string",
            "description": "This field carry data that the ACS can use to verify the authentication process"
          },
          "prior_authentication_method": {
            "type": "string",
            "description": "Mechanism used by the Cardholder to previously authenticate to the 3DS Requestor. <br />  * 01 - Frictionless authentication occurred by ACS <br />  * 02 - Cardholder challenge occurred by ACS <br />  * 03 - AVS verified <br />  * 04 - Other issuer methods <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "prior_authentication_time": {
            "type": "string",
            "description": "Date and time in UTC of the prior cardholder authentication. ` Format: YYYYMMDDHHMM`",
            "format": "date"
          },
          "prior_authentication_ref": {
            "maxLength": 36,
            "type": "string",
            "description": "This data element contains a ACS Transaction ID for a prior authenticated transaction. <br /> For example, the first recurring transaction that was authenticated with the cardholder <br />"
          },
          "product_code": {
            "type": "string",
            "description": "Merchant product code.  <br /> Possible Values:  <br />  * PHY - Goods/Service Purchase  <br />  * CHA - Check Acceptance  <br />  * ACF - Account Funding  <br />  * QCT - Quasi-Cash Transaction  <br />  * PAL - Prepaid Activation and Load  <br /> NOTE: This value defaults to PHY. This field can be used to override that value if applicable.  <br />",
            "enum": [
              "PHY",
              "CHA",
              "ACF",
              "QCT",
              "PAL"
            ]
          },
          "recurring_end": {
            "type": "string",
            "description": "The date after which no further recurring authorizations should be performed. `Format: YYYYMMDD` ** Required for Recurring and Installment transactions, when authenticationIndicator=\"02\" & \"03\" **",
            "format": "date"
          },
          "recurring_frequency": {
            "maximum": 9999,
            "type": "number",
            "description": "Conditional: Integer value indicating the minimum number of days between recurring authorizations. A frequency of monthly is indicated by the value 28. Multiple of 28 days will be used to indicate months. Example: 6 months = 168 ** Required for Recurring and Installment transactions, when authenticationIndicator=\"02\" & \"03\" **"
          },
          "reorder_indicator": {
            "type": "string",
            "description": "Indicates whether cardholder is placing an order with a future availability or release date. <br />  Possible Values: <br />  * 01 - Merchandise available <br />  * 02 - Future availability <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "requestor_id": {
            "maxLength": 35,
            "type": "string",
            "description": "This value is a Directory Server assigned 3DS Requestor Name value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value only and if passed will override the Requestor Name value that is, <br /> configured on the Merchant's profile."
          },
          "requestor_name": {
            "maxLength": 40,
            "type": "string",
            "description": "This value is a Directory Server assigned 3DS Requestor Name value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value only and if passed will override the Requestor Name value that is configured <br /> on the Merchant's profile."
          },
          "shipping_address_usage_indicator": {
            "type": "string",
            "description": "Indicates when the shipping address used for transaction was first used. <br /> Possible Values: <br />  * 01 - This transaction <br />  * 02 - Less than 30 days <br />  * 03 - 30-60 days <br />  * 04 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "shipping_address_usage_date": {
            "type": "string",
            "description": "Date when the shipping address used for this transaction was first used. <br />  `Format: YYYYMMDD` <br />",
            "format": "date"
          },
          "shipping_method_indicator": {
            "type": "string",
            "description": "Indicates shipping method chosen for the transaction. <br />  Possible Values:  <br />  * 01 - Ship to cardholder billing address <br />  * 02 - Ship to another verified address on file with merchant <br />  * 03 - Ship to address that is different than billing address <br />  * 04 - Ship to store (store address should be populated on request) <br />  * 05 - Digital goods <br />  * 06 - Travel and event tickets, not shipped <br />  * 07 - Other <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07"
            ]
          },
          "shipping_name_indicator": {
            "type": "string",
            "description": "Indicates if the cardholder name on the account is identical to the <br /> shipping name used for the transaction. Possible Values: <br /> * 01 - Account and shipping name identical <br /> * 02 - Account and shipping name differ <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "total_items": {
            "pattern": "^[0-9]{2}$",
            "type": "string",
            "description": "Total items in the shopping cart of the shopper"
          },
          "merchant_score": {
            "maxLength": 20,
            "type": "string",
            "description": "Merchant score"
          },
          "transaction_count_day": {
            "maximum": 999,
            "type": "integer",
            "description": "Number of transactions (successful or abandoned) for this cardholder account within the last 24 hours. <br />"
          },
          "transaction_count_year": {
            "maximum": 999,
            "type": "integer",
            "description": "Number of transactions (successful or abandoned) for this cardholder account within the last year. <br />"
          },
          "transaction_mode": {
            "type": "string",
            "description": "Transaction mode identifier. Identifies the channel the transaction originates from. Available Options: <br /> M - Moto (Mail Order Telephone Order) <br /> P - Mobile Device <br /> R - Retail (Physical Store) <br /> S - Computer Device <br /> T - Tablet Device <br />",
            "enum": [
              "M",
              "P",
              "R",
              "S",
              "T"
            ]
          },
          "version": {
            "type": "string",
            "description": "This field contains the 3DS version that can be leveraged to force a transaction down the 1.0 rails.",
            "enum": [
              "1.0.2",
              "2.1.0",
              "2.2.0"
            ],
            "deprecated": true
          },
          "white_list_status": {
            "type": "string",
            "description": "Enables the communication of trusted beneficiary between the ACS, the DS and the 3DS Requestor. <br> Possible Values: <br> * `Y` - 3DS Requestor is trustlisted by cardholder  <br> * `N` - 3DS Requestor is not trustlisted by cardholder  <br> * `E` - Not eligible as determined by issuer <br> * `P` - Pending confirmation by cardholder <br> * `R` - Cardholder rejected <br> * `U` - Trustlist status unknown, unavailable, or does not apply <br> Note: This field may be returned for 2.1.0 if the MasterCard PSD2 extensions are passed and issuer supports them.\n",
            "enum": [
              "Y",
              "N",
              "E",
              "P",
              "R",
              "U"
            ]
          },
          "white_list_status_source": {
            "type": "string",
            "description": "This data element will be populated by the system setting Whitelist Status.",
            "enum": [
              "01",
              "02",
              "03"
            ]
          }
        }
      },
      "payment_contract_id": {
        "oneOf": [
          {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          {
            "type": "object",
            "$ref": "#/x-alt-definitions/paymentContractIdDef"
          }
        ]
      },
      "InstalmentConfiguration": {
        "required": [
          "max_number_of_instalments"
        ],
        "type": "object",
        "properties": {
          "max_number_of_instalments": {
            "minimum": 1,
            "type": "integer",
            "description": "The number of individual parts that the total amount should be paid in"
          },
          "down_payment_amount": {
            "maximum": 9007199254740991,
            "minimum": 0,
            "type": "integer",
            "description": "An integer value for down payment amount"
          }
        },
        "description": "The details on the instalment scheme that should be enacted by the issuer. Only applicable for ABS Acquirer."
      },
      "stored_credential": {
        "required": [
          "processing_model_details",
          "stored_credential_type"
        ],
        "type": "object",
        "description": "Used for transactions with <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/stored-credentials\">Stored Credentials</a>",
        "properties": {
          "stored_credential_type": {
            "type": "string",
            "description": "must be one of  SIGNUP CHARGE",
            "enum": [
              "SIGNUP",
              "CHARGE"
            ]
          },
          "first_payment": {
            "type": "boolean",
            "description": "Set to true if this signup request also is the first payment.\nMost relevant for signup using a minor amount, to indicate if that minor amount is just a signup account verification amount or an actual first payment amount as well.\nDefault on this endpoint is that zero amount is not a payment, but any amount provided is a payment.\nUse this indicator to explicitly tell the intention.\n"
          },
          "consent_text": {
            "maxLength": 2048,
            "pattern": "[\\p{L}\\p{N}.,_\\-+\\s\\\\{\\\\}]",
            "type": "string",
            "description": "Optional merchant provided text to display to the shopper as a checkbox, requiring their consent for the given sign up, detailing the terms at which the shopper agrees to be charged in the future. If not provided, there will be no consent checkbox."
          },
          "consent_text_dynamic_values": {
            "$ref": "#/components/schemas/consentTextDynamicValues"
          },
          "processing_model_details": {
            "$ref": "#/components/schemas/processing_model_details"
          },
          "reference": {
            "type": "string"
          },
          "scheme_reference": {
            "type": "string"
          }
        }
      },
      "consentTextDynamicValues": {
        "type": "array",
        "description": "Optional merchant provided links to be inserted in consent text as a link for the text in brackets.",
        "items": {
          "type": "string"
        }
      },
      "processing_model_details": {
        "required": [
          "processing_model"
        ],
        "type": "object",
        "properties": {
          "processing_model": {
            "type": "string",
            "description": "<br />  * RECURRING - allows only for RECURRING subsequent charges to be done. <br />  * NONE - does not specify what is the type of subsequent charges. Only allows CREDENTIAL_ON_FILE and UNSCHEDULED_CREDENTIAL_ON_FILE charges. <br />  * If it is RECURRING for SIGNUP should be RECURRING FOR CHARGE TOO. <br />  * If it is NONE for SIGNUP should be CREDENTIAL_ON_FILE or UNSCHEDULED_CREDENTIAL_ON_FILE FOR CHARGE.",
            "enum": [
              "RECURRING",
              "NONE"
            ]
          },
          "total_payment_number": {
            "maximum": 9007199254740991,
            "minimum": 0,
            "type": "integer",
            "description": "Total number of payments for the stored credential series. Usage applies to specific acquirers. Used only for processing_model=RECURRING"
          },
          "total_payment_amount": {
            "maximum": 9007199254740991,
            "minimum": 0,
            "type": "integer",
            "description": "Total amount for all the payments in the stored credential series. Usage applies to specific acquirers. Used only for processing_model=RECURRING"
          },
          "first_payment_amount": {
            "maximum": 9007199254740991,
            "minimum": 0,
            "type": "integer",
            "description": "Amount of first payment for the stored credential series. Usage applies to specific acquirers. Used only for processing_model=RECURRING"
          },
          "payment_frequency": {
            "$ref": "#/components/schemas/payment_frequency"
          },
          "merchant_signup_code": {
            "type": "string",
            "description": "Merchant signup code for the stored credential series. Usage applies to specific acquirers. Used only for processing_model=NONE"
          }
        }
      },
      "payment_frequency": {
        "type": "object",
        "description": "Payment frequencies. Used only for processing_model=RECURRING",
        "properties": {
          "time_unit": {
            "type": "string",
            "description": "must be one of  DAY WEEK MONTH YEAR",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ]
          },
          "value": {
            "type": "number"
          }
        }
      },
      "additional_business_data": {
        "type": "object",
        "properties": {
          "addendum1": {
            "maxLength": 300,
            "type": "string",
            "description": "Additional field 1 for processor data."
          },
          "addendum2": {
            "maxLength": 300,
            "type": "string",
            "description": "Additional field 2 for processor data."
          }
        },
        "description": "Merchant defined additional data fields for ABS Acquirer."
      },
      "CardMode3DS": {
        "allOf": [
          {
            "$ref": "#/components/schemas/basic_card"
          },
          {
            "type": "object",
            "required": [
              "threed_secure"
            ],
            "properties": {
              "threed_secure": {
                "$ref": "#/components/schemas/threed_secure"
              },
              "shopper_interaction": {
                "$ref": "#/components/schemas/shopper_interaction"
              }
            }
          }
        ]
      },
      "shopper_interaction": {
        "type": "string",
        "description": "Used to indicate the channel used by to send they checkout link <br /> * ECOMMERCE <br /> * MAIL - value is used only in Virtual terminal transactions and cannot be used in createCheckout API call <br /> * TELEPHONE - value is used only in Virtual terminal transactions and cannot be used in createCheckout API call <br />",
        "default": "ECOMMERCE",
        "enum": [
          "ECOMMERCE",
          "MAIL",
          "TELEPHONE"
        ]
      },
      "CardModePayment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/basic_card"
          },
          {
            "type": "object",
            "required": [
              "payment_contract_id"
            ],
            "properties": {
              "dynamic_descriptor": {
                "maxLength": 25,
                "type": "string",
                "description": "Value is displayed as short text on the bank statement of the cardholder"
              },
              "capture_now": {
                "type": "boolean",
                "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE. ",
                "default": true
              },
              "shopper_interaction": {
                "$ref": "#/components/schemas/shopper_interaction"
              },
              "account_validation": {
                "type": "boolean",
                "description": "Indicates whether the card transaction should be processed as Account Validation request instead. If set to true, the amount provided for the Checkout would be ignored and the transaction be processed with amount: 0",
                "default": false
              },
              "authorization_type": {
                "type": "string",
                "description": "Card Authorization Type (PRE_AUTH, FINAL_AUTH).  When capture now is set to true pre-authorization transactions cannot be done.",
                "default": "FINAL_AUTH"
              },
              "payment_contract_id": {
                "$ref": "#/components/schemas/payment_contract_id"
              },
              "token_preference": {
                "$ref": "#/x-alt-definitions/card_token_preference"
              },
              "credit_term": {
                "type": "string",
                "description": "Determines the transaction type. Only applicable for ABS Acquirer.Available options: <br /> STANDARD - Sale <br /> PREFERRED - Sale - Preferred Isracard <br /> DEBIT - Sale - Direct Debit <br /> INSTALMENT_STANDARD - Instalment standard <br /> INSTALMENT_CREDIT - Instalment credit<br />",
                "enum": [
                  "DEBIT",
                  "STANDARD",
                  "PREFERRED",
                  "INSTALMENT_CREDIT",
                  "INSTALMENT_STANDARD"
                ]
              },
              "instalment": {
                "$ref": "#/components/schemas/InstalmentConfiguration"
              },
              "stored_credential": {
                "$ref": "#/components/schemas/stored_credential"
              },
              "additional_business_data": {
                "$ref": "#/components/schemas/additional_business_data"
              },
              "reuse_token": {
                "maxLength": 4096,
                "type": "string",
                "description": "The identifier used to represent the Cardholder data."
              },
              "fraud_protection_contract": {
                "type": "string",
                "description": "Fraud Protection Contract Id"
              }
            }
          }
        ]
      },
      "CardModeCapture": {
        "allOf": [
          {
            "$ref": "#/components/schemas/basic_card"
          },
          {
            "type": "object"
          }
        ]
      },
      "GPP2PaymentConfig": {
        "required": [
          "payment_contract_id"
        ],
        "type": "object",
        "properties": {
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "shopper_interaction": {
            "type": "string",
            "description": "Used to indicate the channel used by to send they checkout link <br /> * ECOMMERCE <br /> * MAIL - value is used only in Virtual terminal transactions and cannot be used in createCheckout API call <br /> * MCOMMERCE <br /> * TELEPHONE - value is used only in Virtual terminal transactions and cannot be used in createCheckout API call <br />",
            "default": "ECOMMERCE",
            "enum": [
              "ECOMMERCE",
              "MAIL",
              "MCOMMERCE",
              "TELEPHONE"
            ]
          }
        },
        "description": "GPP2 payment configuration"
      },
      "gift_card": {
        "type": "object",
        "description": "Gift Card payment configuration",
        "properties": {
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE.",
            "default": true
          },
          "card": {
            "$ref": "#/components/schemas/GiftCardCardConfig"
          }
        }
      },
      "GiftCardCardConfig": {
        "type": "object",
        "description": "Card object configuration",
        "required": [
          "payment_contract_id"
        ],
        "properties": {
          "payment_contract_id": {
            "maxLength": 25,
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "shopper_interaction": {
            "$ref": "#/components/schemas/shopper_interaction"
          },
          "authorization_type": {
            "type": "string",
            "description": "Card Authorization Type.",
            "default": "FINAL_AUTH"
          },
          "pin_required": {
            "type": "boolean",
            "default": false,
            "description": "Indicates whether security code for gift card is required or no."
          },
          "token_preference": {
            "description": "Read <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/tokenization\">Tokenization</a> for additional information",
            "required": [
              "token_scope"
            ],
            "type": "object",
            "properties": {
              "token_scope": {
                "type": "string",
                "description": "The token scope under which a token gets created"
              },
              "token_expiry_date": {
                "type": "string",
                "description": "Token expiry date",
                "format": "date"
              },
              "token_type": {
                "type": "string",
                "description": "Token type",
                "default": "REUSE"
              }
            }
          }
        }
      },
      "PaypalPaymentConfig": {
        "required": [
          "payment_contract_id"
        ],
        "type": "object",
        "properties": {
          "dynamic_descriptor": {
            "maxLength": 2048,
            "type": "string",
            "description": "Value is displayed as short text on the bank statement of the cardholder"
          },
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE. ",
            "default": true
          },
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "description": {
            "maxLength": 2048,
            "type": "string",
            "description": "paypal request description"
          },
          "application_context": {
            "$ref": "#/components/schemas/application_context"
          }
        },
        "description": "Paypal payment configuration"
      },
      "application_context": {
        "type": "object",
        "properties": {
          "landing_page": {
            "type": "string",
            "description": "The type of landing page to show on the PayPal site for customer checkout",
            "enum": [
              "BILLING",
              "LOGIN",
              "NO_PREFERENCE"
            ]
          },
          "brand_name": {
            "maxLength": 127,
            "type": "string",
            "description": "The label that overrides the business name in the PayPal account on the PayPal site."
          },
          "locale": {
            "maxLength": 10,
            "minLength": 2,
            "pattern": "^[a-z]{2}(?:-[A-Z][a-z]{3})?(?:-(?:[A-Z]{2}))?$",
            "type": "string",
            "description": "The BCP 47-formatted locale of pages that the PayPal payment experience shows.PayPal supports a five-character code. For example, da-DK, he-IL, id-ID, ja-JP, no-NO, pt-BR, ru-RU, sv-SE, th-TH, zh-CN, zh-HK, or zh-TW."
          }
        }
      },
      "GooglePayPaymentConfig": {
        "type": "object",
        "description": "Google Pay payment configuration",
        "properties": {
          "dynamic_descriptor": {
            "maxLength": 25,
            "type": "string",
            "description": "Value is displayed as short text on the bank statement of the cardholder"
          },
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE.",
            "default": true
          },
          "account_validation": {
            "type": "boolean",
            "description": "Indicates whether the card transaction should be processed as Account Validation request instead. If set to true, the amount provided for the Checkout would be ignored and the transaction be processed with amount: 0",
            "default": false
          },
          "card": {
            "$ref": "#/components/schemas/GooglePayCardConfigRequest"
          }
        }
      },
      "GooglePayCardConfigRequest": {
        "required": [
          "payment_contract_id",
          "sca_compliance_level",
          "threed_secure"
        ],
        "type": "object",
        "properties": {
          "sca_compliance_level": {
            "type": "string",
            "description": "Strong Customer Authentication (SCA) compliance level, possible values </br>\n     * NONE: No SCA required. </br>\n     * WALLET: based on the assurance details, if those are false, Google Pay will indicate the PSP to trigger 3DS which in this case will be required. \n      Details [here](https://developers.google.com/pay/api/web/reference/response-objects#assurance-details-specifications)</br>\n     * FORCE_3DS: SCA will be triggered. Regarding the liability shift, please check\n      [this page](https://developers.googleblog.com/en/google-pay-enabling-liability-shift-for-eligible-visa-device-token-transactions-globally/)",
            "enum": [
              "NONE",
              "WALLET",
              "FORCE_3DS"
            ]
          },
          "threed_secure": {
            "$ref": "#/components/schemas/ThreeDSData"
          },
          "authorization_type": {
            "type": "string",
            "description": "Default: \"FINAL_AUTH\" <br /> Other Possible Values: \"PRE_AUTH\" <br /> Text: PRE_AUTH is used when a merchant wants to ensure shopper's funds availability at a later time. <br /> Attention: If you are using PRE_AUTH function make sure capture_now is set as FALSE. Otherwise the PRE_AUTH will not work. <br />",
            "default": "FINAL_AUTH"
          },
          "shopper_interaction": {
            "$ref": "#/components/schemas/shopper_interaction"
          },
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "token_preference": {
            "$ref": "#/x-alt-definitions/token_preference"
          }
        }
      },
      "ThreeDSData": {
        "description": "Used for <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/checkout/accepting-payments/3d-secure-payments\">3D-Secure payments</a>",
        "required": [
          "threeds_contract_id",
          "transaction_mode"
        ],
        "type": "object",
        "properties": {
          "account_age_indicator": {
            "type": "string",
            "description": "Length of time cardholder has had account. <br /> Possible Values: <br />  * 01 - No account <br />  * 02 - Created during transaction <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "account_create_date": {
            "type": "string",
            "description": "Date the cardholder opened the account. `Format: YYYYMMDD`",
            "format": "date"
          },
          "account_change_indicator": {
            "type": "string",
            "description": "Length of time since the last change to the cardholder account. This includes shipping address, <br /> new payment account or new user added. Possible Values: <br /> * 01 - Changed during transaction <br /> * 02 - Less than 30 days <br /> * 03 - 30-60 days <br /> * 04 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "account_change_date": {
            "type": "string",
            "description": "Date the cardholder's account was last changed. This includes changes to the billing or shipping address, new payment accounts or new users added.` Format: YYYYMMDD` <br />",
            "format": "date"
          },
          "account_pwd_change_indicator": {
            "type": "string",
            "description": "Length of time since the cardholder changed or reset the password on the account. <br />  Possible Values: <br />  * 01 - No change <br />  * 02 - Changed during transaction <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "account_pwd_change_date": {
            "type": "string",
            "description": "Date the cardholder last changed or reset password on account. `Format: YYYYMMDD`",
            "format": "date"
          },
          "account_id": {
            "maxLength": 64,
            "type": "string",
            "description": "Additional cardholder account information."
          },
          "account_purchases": {
            "maximum": 9999,
            "type": "integer",
            "description": "Number of purchases with this cardholder account during the previous six months."
          },
          "acs_window_size": {
            "type": "string",
            "description": "An override field that a merchant can pass in to set the challenge window size to display to the end <br /> cardholder.The ACS will reply with content that is formatted appropriately to this window size to allow <br /> for the best user experience. The sizes are width x height in pixels of the window displayed in <br /> the cardholder browser window. Possible values: <br />  * 01 - 250x400 <br />  * 02 - 390x400 <br />  * 03 - 500x600 <br />  * 04 - 600x400 <br />  * 05 - Full page <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "add_card_attempts": {
            "maximum": 999,
            "type": "integer",
            "description": "Number of add card attempts in the last 24 hours."
          },
          "address_match": {
            "type": "string",
            "description": "Indicates whether cardholder billing and shipping addresses match. <br /> Possible Values: <br />  * Y - Shipping address matches billing address <br />  * N - Shipping address does not match billing address <br />",
            "enum": [
              "Y",
              "N"
            ]
          },
          "alternate_authentication_method": {
            "type": "string",
            "description": "Mechanism used by the cardholder to authenticate to the 3DS requester. <br />  Possible Values: <br />  * 01 - No authentication occurred (e.g. Guest Checkout) <br />  * 02 - Login to the cardholder account at the Merchant system using Merchant system credentials <br />  * 03 - Login to the cardholder account at the Merchant system using a Federated ID <br />  * 04 - Login to the cardholder account at the Merchant system using Issuer credentials <br />  * 05 - Login to the cardholder account at the Merchant system using third-party authentication <br />  * 06 - Login to the cardholder account at the Merchant system using FIDO Authenticator <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06"
            ]
          },
          "alternate_authentication_date": {
            "type": "string",
            "description": "Date and time in UTC of the cardholder authentication. ` Format: YYYYMMDDHHMM`",
            "format": "date"
          },
          "alternate_authentication_data": {
            "maxLength": 2048,
            "type": "string",
            "description": "Data that documents and supports a specific authentication <br /> process that was sent in the AlternateAuthenticationMethod field. <br />"
          },
          "threeds_contract_id": {
            "maxLength": 36,
            "type": "string",
            "description": "The ID of the threeDSContract used."
          },
          "authentication_indicator": {
            "type": "string",
            "description": "Indicates the type of Authentication request. 01 - Payment transaction <br />  02 - Recurring transaction  <br />  03 - Installment transaction  <br />  04 - Add card  <br />  05 - Maintain card  <br />  06 - Cardholder verification as part of EMV token ID&V <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06"
            ]
          },
          "category_code": {
            "maximum": 9999,
            "type": "integer",
            "description": "Merchant category code (MCC) NOTE: This field is required by Mastercard and VISA Brazil extensions. <br />"
          },
          "challenge_indicator": {
            "type": "string",
            "description": "NOTE: This is a 2.0 required field, Cardinal will default to 01 on Merchant Configuration <br /> - can be overridden by the merchant. Possible Values: <br /> * 01 - No preference <br /> * 02 - No challenge requested <br /> * 03 - Challenge requested (3DS Requestor Preference) <br /> * 04 - Challenge requested (Mandate) <br /> * 90 - CB specific value <br />",
            "default": "01",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "90"
            ]
          },
          "delivery_email": {
            "maxLength": 255,
            "type": "string",
            "description": "For electronic delivery, email address to which the merchandise was delivered."
          },
          "delivery_time_frame": {
            "type": "string",
            "description": "Indicates the delivery timeframe.  <br /> Possible Values: <br />  * 01 - Electronic delivery <br />  * 02 - Same day shipping <br />  * 03 - Overnight shipping <br />  * 04 - Two or more day shipping <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether 3DS should be used.",
            "default": true
          },
          "fraud_activity": {
            "type": "string",
            "description": "Indicates whether the merchant experienced suspicious activity (including previous fraud) on the account. <br /> Possible Values: <br />  * 01 - No suspicious activity <br />  * 02 - Suspicious activity observed <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "gift_card_amount": {
            "maximum": 999999999999999,
            "type": "integer",
            "description": "The purchase amount total for prepaid gift cards in major units. <br /> Example: $123.45 USD = 12345 <br />"
          },
          "gift_card_currency_code": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "ISO 4217 currency code for the gift card purchased."
          },
          "gift_card_count": {
            "maximum": 99,
            "type": "integer",
            "description": "Total count of individual prepaid gift cards purchased."
          },
          "installment": {
            "maximum": 999,
            "minimum": 2,
            "type": "number",
            "description": "Indicates the maximum number of authorizations for installment payments. An integer value greater than 1 indicating the maximum number of permitted authorizations for installment payments. ** Required for Recurring and Installment transactions, when authenticationIndicator=\"02\" & \"03\" **"
          },
          "message_category": {
            "type": "string",
            "description": "Category of the message for a specific use case. <br />  Possible Values: <br />  * 01 - PA (payment) <br />  * 02 - NPA (non payment) <br />  NOTE: Default is payment (01). Configured on Merchant account, or can be overridden on transaction. <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "payment_use_case": {
            "type": "string",
            "description": "Indicates the type of payment.The value from this field will be mapped to the data field on the CB-USECASE extension <br />  Possible Values: <br />  * 01 - Single Payment <br />  * 02 - Fixed Amount and Term Subscription <br />  * 03 - Payment By Instalments <br />  * 04 - Payment By Shipment <br />  * 05 - Other Recurring Payments <br />  NOTE: Required for CB transactions (Required if message_category = 01, or message_category = 02 and authentication_indicator = 02 or 03 <br />",
            "default": "01",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "payment_account_indicator": {
            "type": "string",
            "description": "Indicates the length of time that the payment account was enrolled in the merchant account. <br /> Possible Values: <br />  * 01 - No account (guest checkout) <br />  * 02 - During the transaction <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05"
            ]
          },
          "payment_account_age": {
            "type": "string",
            "description": "Date the payment account was added to the cardholder account. ` Format: YYYYMMDD`",
            "format": "date"
          },
          "pre_order_indicator": {
            "type": "string",
            "description": "Indicates whether cardholder is placing an order with a future availability or release date. <br />  Possible Values: <br />  * 01 - Merchandise available <br />  * 02 - Future availability <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "pre_order_date": {
            "type": "string",
            "description": "Expected date that a pre-ordered purchase will be available. `Format: YYYYMMDD`",
            "format": "date"
          },
          "prior_authentication_data": {
            "maxLength": 2048,
            "type": "string",
            "description": "This field carry data that the ACS can use to verify the authentication process"
          },
          "prior_authentication_method": {
            "type": "string",
            "description": "Mechanism used by the Cardholder to previously authenticate to the 3DS Requestor. <br />  * 01 - Frictionless authentication occurred by ACS <br />  * 02 - Cardholder challenge occurred by ACS <br />  * 03 - AVS verified <br />  * 04 - Other issuer methods <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "prior_authentication_time": {
            "type": "string",
            "description": "Date and time in UTC of the prior cardholder authentication. ` Format: YYYYMMDDHHMM`",
            "format": "date"
          },
          "prior_authentication_ref": {
            "maxLength": 36,
            "type": "string",
            "description": "This data element contains a ACS Transaction ID for a prior authenticated transaction. <br /> For example, the first recurring transaction that was authenticated with the cardholder <br />"
          },
          "product_code": {
            "type": "string",
            "description": "Merchant product code.  <br /> Possible Values:  <br />  * PHY - Goods/Service Purchase  <br />  * CHA - Check Acceptance  <br />  * ACF - Account Funding  <br />  * QCT - Quasi-Cash Transaction  <br />  * PAL - Prepaid Activation and Load  <br /> NOTE: This value defaults to PHY. This field can be used to override that value if applicable.  <br />",
            "enum": [
              "PHY",
              "CHA",
              "ACF",
              "QCT",
              "PAL"
            ]
          },
          "recurring_end": {
            "type": "string",
            "description": "The date after which no further recurring authorizations should be performed. `Format: YYYYMMDD` ** Required for Recurring and Installment transactions, when authenticationIndicator=\"02\" & \"03\" **",
            "format": "date"
          },
          "recurring_frequency": {
            "maximum": 9999,
            "type": "number",
            "description": "Conditional: Integer value indicating the minimum number of days between recurring authorizations. A frequency of monthly is indicated by the value 28. Multiple of 28 days will be used to indicate months. Example: 6 months = 168 ** Required for Recurring and Installment transactions, when authenticationIndicator=\"02\" & \"03\" **"
          },
          "reorder_indicator": {
            "type": "string",
            "description": "Indicates whether cardholder is placing an order with a future availability or release date. <br />  Possible Values: <br />  * 01 - Merchandise available <br />  * 02 - Future availability <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "requestor_id": {
            "maxLength": 35,
            "type": "string",
            "description": "This value is a Directory Server assigned 3DS Requestor Name value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value only and if passed will override the Requestor Name value that is, <br /> configured on the Merchant's profile."
          },
          "requestor_name": {
            "maxLength": 40,
            "type": "string",
            "description": "This value is a Directory Server assigned 3DS Requestor Name value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value only and if passed will override the Requestor Name value that is configured <br /> on the Merchant's profile."
          },
          "shipping_address_usage_indicator": {
            "type": "string",
            "description": "Indicates when the shipping address used for transaction was first used. <br /> Possible Values: <br />  * 01 - This transaction <br />  * 02 - Less than 30 days <br />  * 03 - 30-60 days <br />  * 04 - More than 60 days <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04"
            ]
          },
          "shipping_address_usage_date": {
            "type": "string",
            "description": "Date when the shipping address used for this transaction was first used. <br />  `Format: YYYYMMDD` <br />",
            "format": "date"
          },
          "shipping_method_indicator": {
            "type": "string",
            "description": "Indicates shipping method chosen for the transaction. <br />  Possible Values:  <br />  * 01 - Ship to cardholder billing address <br />  * 02 - Ship to another verified address on file with merchant <br />  * 03 - Ship to address that is different than billing address <br />  * 04 - Ship to store (store address should be populated on request) <br />  * 05 - Digital goods <br />  * 06 - Travel and event tickets, not shipped <br />  * 07 - Other <br />",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07"
            ]
          },
          "shipping_name_indicator": {
            "type": "string",
            "description": "Indicates if the cardholder name on the account is identical to the <br /> shipping name used for the transaction. Possible Values: <br /> * 01 - Account and shipping name identical <br /> * 02 - Account and shipping name differ <br />",
            "enum": [
              "01",
              "02"
            ]
          },
          "total_items": {
            "pattern": "^[0-9]{2}$",
            "type": "string",
            "description": "Total items in the shopping cart of the shopper"
          },
          "merchant_score": {
            "maxLength": 20,
            "type": "string",
            "description": "Merchant score"
          },
          "transaction_count_day": {
            "maximum": 999,
            "type": "integer",
            "description": "Number of transactions (successful or abandoned) for this cardholder account within the last 24 hours. <br />"
          },
          "transaction_count_year": {
            "maximum": 999,
            "type": "integer",
            "description": "Number of transactions (successful or abandoned) for this cardholder account within the last year. <br />"
          },
          "transaction_mode": {
            "type": "string",
            "description": "Transaction mode identifier. Identifies the channel the transaction originates from. Available Options: <br /> M - Moto (Mail Order Telephone Order) <br /> P - Mobile Device <br /> R - Retail (Physical Store) <br /> S - Computer Device <br /> T - Tablet Device <br />",
            "enum": [
              "M",
              "P",
              "R",
              "S",
              "T"
            ]
          },
          "version": {
            "type": "string",
            "description": "This field contains the 3DS version that can be leveraged to force a transaction down the 1.0 rails.",
            "enum": [
              "1.0.2",
              "2.1.0",
              "2.2.0"
            ],
            "deprecated": true
          }
        }
      },
      "apple_pay": {
        "type": "object",
        "description": "Apple Pay payment configuration",
        "properties": {
          "dynamic_descriptor": {
            "maxLength": 25,
            "type": "string",
            "description": "Value is displayed as short text on the bank statement of the cardholder"
          },
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE.",
            "default": true
          },
          "account_validation": {
            "type": "boolean",
            "description": "Indicates whether the card transaction should be processed as Account Validation request instead. If set to true, the amount provided for the Checkout would be ignored and the transaction be processed with amount: 0",
            "default": false
          },
          "card": {
            "$ref": "#/components/schemas/ApplePayCardConfig"
          }
        }
      },
      "ApplePayCardConfig": {
        "required": [
          "payment_contract_id",
          "sca_compliance_level",
          "threed_secure"
        ],
        "type": "object",
        "properties": {
          "sca_compliance_level": {
            "type": "string",
            "default": "NONE",
            "description": "Strong Customer Authentication (SCA) compliance level, possible values </br>\n     * NONE: No SCA required. </br>\n     *<b>Deprecated</b> WALLET: Apple Pay will indicate the PSP to trigger 3DS which in this case will be required.\n      Details [here](https://developers.google.com/pay/api/web/reference/response-objects#assurance-details-specifications)</br>\n     *<b>Deprecated</b> FORCE_3DS: SCA will be triggered. Regarding the liability shift, please check\n      [this page](https://developers.googleblog.com/en/google-pay-enabling-liability-shift-for-eligible-visa-device-token-transactions-globally/)</br></br>\n      *<b>Note: </b> Apple Pay is SCA compliant by design and 3DS check is not a mandatory function for processing transactions with this wallet. As a result, the previously supported WALLET and FORCE_3DS parameters are no longer relevant for Apple Pay transactions and have been deprecated.\n      Supports only NONE. Any other values (WALLET or FORCE_3DS) are sanitized and ignored.",
            "enum": [
              "NONE",
              "WALLET",
              "FORCE_3DS"
            ]
          },
          "threed_secure": {
            "deprecated": true,
            "description": "Used for <a target=\"_blank\" href=\"https://docs.verifone.com/online-payments/checkout/accepting-payments/3d-secure-payments\">3D-Secure payments</a>",
            "type": "object"
          },
          "authorization_type": {
            "type": "string",
            "description": "Default: \"FINAL_AUTH\" <br /> Other Possible Values: \"PRE_AUTH\" <br /> Text: PRE_AUTH is used when a merchant wants to ensure shopper's funds availability at a later time. <br /> Attention: If you are using PRE_AUTH function make sure capture_now is set as FALSE. Otherwise the PRE_AUTH will not work. <br />",
            "default": "FINAL_AUTH"
          },
          "shopper_interaction": {
            "$ref": "#/components/schemas/shopper_interaction"
          },
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "token_preference": {
            "$ref": "#/x-alt-definitions/token_preference"
          }
        }
      },
      "KlarnaPaymentConfig": {
        "type": "object",
        "properties": {
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE. ",
            "default": true
          }
        },
        "description": "Klarna payment configuration"
      },
      "VippsPaymentConfigRequest": {
        "required": [
          "payment_contract_id"
        ],
        "type": "object",
        "properties": {
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "dynamic_descriptor": {
            "maxLength": 25,
            "type": "string",
            "description": "Value is displayed as short text on the bank statement of the cardholder"
          },
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE. ",
            "default": true
          },
          "is_app": {
            "type": "boolean",
            "description": "Flag to identify the transaction originated from APP or Browser",
            "default": false
          },
          "app_phone_number": {
            "maxLength": 18,
            "pattern": "^[0-9-\\s\\-+().-]+$",
            "type": "string",
            "description": "Indicates the phone number registered with Vipps Mobile APP."
          },
          "card": {
            "$ref": "#/components/schemas/VippsCardConfigRequest"
          }
        },
        "description": "Vipps payment configuration"
      },
      "VippsCardConfigRequest": {
        "required": [
          "sca_compliance_level",
          "threed_secure"
        ],
        "type": "object",
        "properties": {
          "sca_compliance_level": {
            "type": "string",
            "description": "Strong Customer Authentication (SCA) compliance level, possible values </br>\n     * NONE: No SCA required. </br>\n     * WALLET: Depend on the wallet SCA mechanism. For Google Pay this means that MasterCard will shift liability, Visa will not. </br>\n     * FORCE_3DS: Do an additional 3DS step regardless of whether the wallet indicates the token is SCA-compliant.",
            "enum": [
              "NONE",
              "WALLET",
              "FORCE_3DS"
            ]
          },
          "threed_secure": {
            "$ref": "#/components/schemas/ThreeDSData"
          },
          "authorization_type": {
            "type": "string",
            "description": "Card Authorization Type (PRE_AUTH, FINAL_AUTH).  When capture now is set to true pre-authorization transactions cannot be done.",
            "default": "FINAL_AUTH"
          }
        }
      },
      "swish_req": {
        "type": "object",
        "properties": {
          "app_phone_number": {
            "maxLength": 18,
            "pattern": "^[0-9-\\s\\-+().-]+$",
            "type": "string",
            "description": "Indicates the phone number registered with Swish Mobile APP."
          },
          "shopper_interaction": {
            "type": "string",
            "description": "Used to indicate the channel used by to send they checkout link <br /> * ECOMMERCE <br /> * MCOMMERCE ",
            "default": "ECOMMERCE",
            "enum": [
              "ECOMMERCE",
              "MCOMMERCE"
            ]
          }
        },
        "description": "Swish payment configuration"
      },
      "mobile_pay_req": {
        "required": [
          "payment_contract_id"
        ],
        "type": "object",
        "properties": {
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "dynamic_descriptor": {
            "maxLength": 25,
            "type": "string",
            "description": "Value is displayed as short text on the bank statement of the cardholder"
          },
          "capture_now": {
            "type": "boolean",
            "description": "True - transaction will be sent as authCapture and automatically captured. <br /> False - transaction will be sent as auth and only authorized. NOT CAPTURED. <br /> If you don't have any value in the capture_now parameter, at the moment of the call the value will be set as TRUE. ",
            "default": true
          },
          "card": {
            "$ref": "#/components/schemas/card_req"
          }
        },
        "description": "MobilePay payment configuration"
      },
      "card_req": {
        "required": [
          "sca_compliance_level",
          "threed_secure"
        ],
        "type": "object",
        "properties": {
          "sca_compliance_level": {
            "type": "string",
            "description": "Strong Customer Authentication (SCA) compliance level, possible values </br>\n     * NONE: No SCA required. </br>\n     * WALLET: Depend on the wallet SCA mechanism. For Google Pay this means that MasterCard will shift liability, Visa will not. </br>\n     * FORCE_3DS: Do an additional 3DS step regardless of whether the wallet indicates the token is SCA-compliant.",
            "enum": [
              "NONE",
              "WALLET",
              "FORCE_3DS"
            ]
          },
          "threed_secure": {
            "$ref": "#/components/schemas/threed_secure"
          },
          "authorization_type": {
            "type": "string",
            "description": "Card Authorization Type (PRE_AUTH, FINAL_AUTH).  When capture now is set to true pre-authorization transactions cannot be done.",
            "default": "FINAL_AUTH"
          },
          "encrypted_card": {
            "maxLength": 4096,
            "type": "string",
            "description": "Encrypted card details"
          },
          "card_encryption_key_alias": {
            "type": "string",
            "description": "Public key alias"
          },
          "return_url": {
            "type": "string",
            "description": "URL belonging to the Merchant website, where the Customer would be redirected after the Checkout has been completed. If this parameter is used, the customer will be redirected after spending 10 seconds on the payment confirmation page provided by Verifone in case of HPP and PAYMENT LINK transactions. For IFRAME transaction the redirect is performed right after the checkout page without passing through the payment confirmation page.   <br /> <b>Note 1:</b> The return_url accepts only securely connected URLs i.e., via https protocol. <br /> <b>Note 2:</b> The time after which redirection happens can be customized using redirect_method."
          }
        }
      },
      "bank": {
        "required": [
          "op"
        ],
        "type": "object",
        "properties": {
          "dynamic_descriptor": {
            "maxLength": 25,
            "type": "string",
            "description": "Value is displayed as short text on the bank statement of the cardholder"
          },
          "authorization_type": {
            "type": "string",
            "description": "Card Authorization Type (PRE_AUTH, FINAL_AUTH).  When capture now is set to true pre-authorization transactions cannot be done.",
            "default": "FINAL_AUTH"
          },
          "shopper_interaction": {
            "type": "string",
            "description": "Used to indicate the channel used by to send they checkout link <br /> * ECOMMERCE <br /> * MAIL",
            "enum": [
              "ECOMMERCE",
              "MAIL"
            ]
          },
          "message_to_customer": {
            "type": "string",
            "description": "Message to customer",
            "maxLength": 500
          },
          "op": {
            "$ref": "#/components/schemas/op"
          }
        },
        "description": "Bank payment configuration"
      },
      "op": {
        "type": "object",
        "required": [
          "payment_contract_id"
        ],
        "properties": {
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "multi_bank_payment_option": {
            "type": "boolean",
            "description": "Indicator for using multi bank payment"
          }
        }
      },
      "plcc": {
        "type": "object",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/plcc_mode"
          },
          "payment_contract_id": {
            "type": "string",
            "description": "This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment."
          },
          "shopper_interaction": {
            "$ref": "#/components/schemas/shopper_interaction"
          },
          "authorization_type": {
            "type": "string",
            "description": "Card Authorization Type (PRE_AUTH, FINAL_AUTH).  When capture now is set to true pre-authorization transactions cannot be done.",
            "default": "FINAL_AUTH"
          },
          "capture_now": {
            "type": "boolean",
[...]
