openapi: 3.2.0
info:
  title: Checkout Templating API
  version: 1.42.4
servers:
- url: https://emea.gsc.verifone.cloud/oidc/checkout-service
  description: EMEA
- url: https://us.gsc.verifone.cloud/oidc/checkout-service
  description: Americas
- url: https://nz.gsc.verifone.cloud/oidc/checkout-service
  description: New Zealand
- url: https://cst.test-gsc.vfims.com/oidc/checkout-service
  description: Global Sandbox
- url: https://uscst-gb.gsc.vficloud.net/oidc/checkout-service
  description: US Sandbox
security:
- BasicAuth: []
- BearerAuth: []
tags:
- name: Templating
paths:
  /v2/template/checkoutDetails/:
    get:
      tags:
      - Templating
      summary: List Templates
      operationId: listV2Template
      parameters:
      - name: search
        in: query
        description: 'Filter templates using RSQL syntax. Combine expressions with `;` (AND) or `,` (OR).


          **Filterable fields:**


          | Field | Type | Operators |

          |-------|------|-----------|

          | `name` | string | `==` `!=` `=in=` `=out=` `=regex=` `=contains=` |

          | `created_at` | date | `==` `!=` `=in=` `=out=` `=gt=` `=ge=` `=lt=` `=le=` |

          | `updated_at` | date | `==` `!=` `=in=` `=out=` `=gt=` `=ge=` `=lt=` `=le=` |

          | `entity_id` | string | `==` `!=` `=in=` `=out=` `=regex=` |


          **Examples:**

          - `name==MyTemplate;entity_id==a6b45428-0296-4394-8ddd-0b50b5b20aa9`

          - `name==TemplateName`'
        schema:
          type: string
      - name: order_criteria
        in: query
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
      - name: order_by
        in: query
        description: The ordering sequence of the selected templates If not selected then Descending order is the default order.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: page_number
        in: query
        description: A filter query in RSQL format to retrieve templates based on page number. If not selected then a default pageNumber is 1.
        schema:
          minimum: 1
          type: number
      - name: page_size
        in: query
        description: A filter query in RSQL format to retrieve templates based on page size. If not selected then a default pageSize is 50
        schema:
          minimum: 0
          type: number
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    CheckoutTemplate:
      title: CreateTemplateRequest
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          type: string
        entity_id:
          type: string
          description: Entity Id can be located on the organization level as Organization ID (Administration > Organizations > [Organization] > Organisation ID value)
        billing_is_same_as_shipping:
          type: boolean
          default: true
          description: Indicates whether billing address is same as shipping address or not.
        shipping_first_billing_second:
          type: boolean
          default: false
          description: Indicates the order of addresses in which the merchant wants to collect the information from the customer.
        field_settings:
          type: object
          properties:
            billing:
              $ref: '#/components/schemas/address_details'
            company_name:
              $ref: '#/components/schemas/template_field_mode'
            company_registration_number:
              $ref: '#/components/schemas/template_field_mode'
            email_address:
              $ref: '#/components/schemas/template_field_mode'
            entity_id:
              $ref: '#/components/schemas/template_field_mode'
            phone_number:
              $ref: '#/components/schemas/template_field_mode'
            shipping:
              $ref: '#/components/schemas/address_details'
            title:
              $ref: '#/components/schemas/template_field_mode'
            work_phone:
              $ref: '#/components/schemas/template_field_mode'
            tax:
              type: object
              properties:
                identifier:
                  $ref: '#/components/schemas/template_field_mode'
    template_field_mode:
      type: object
      properties:
        mode:
          type: string
          enum:
          - HIDDEN
          - READ_ONLY
          - OPTIONAL
          - REQUIRED
    ErrorResponse:
      type: object
      properties:
        code:
          type: number
          description: A 3-digit code which uniquely identify an error.
        details:
          $ref: '#/components/schemas/details'
        message:
          maxLength: 2048
          type: string
          description: A description of the error.
        timestamp:
          type: string
          description: Error timestamp
          format: date-time
    TemplateList:
      type: array
      items:
        $ref: '#/components/schemas/CheckoutTemplate'
    details:
      type: object
    address_details:
      type: object
      properties:
        address_1:
          $ref: '#/components/schemas/template_field_mode'
        address_2:
          $ref: '#/components/schemas/template_field_mode'
        address_3:
          $ref: '#/components/schemas/template_field_mode'
        city:
          $ref: '#/components/schemas/template_field_mode'
        country_code:
          $ref: '#/components/schemas/template_field_mode'
        first_name:
          $ref: '#/components/schemas/template_field_mode'
        middle_name:
          $ref: '#/components/schemas/template_field_mode'
        last_name:
          $ref: '#/components/schemas/template_field_mode'
        phone:
          $ref: '#/components/schemas/template_field_mode'
        postal_code:
          $ref: '#/components/schemas/template_field_mode'
        state:
          $ref: '#/components/schemas/template_field_mode'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using entity credentials (username:password encoded in Base64).
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained via the OIDC authentication endpoint.
