{
  "openapi": "3.0.0",
  "info": {
    "title": "Verifone eCommerce API",
    "version": "2.38.1"
  },
  "servers": [
    {
      "url": "https://emea.gsc.verifone.cloud/oidc",
      "description": "EMEA Production"
    },
    {
      "url": "https://us.gsc.verifone.cloud/oidc",
      "description": "Americas Production"
    },
    {
      "url": "https://nz.gsc.verifone.cloud/oidc",
      "description": "New Zealand Production"
    },
    {
      "url": "https://cst.test-gsc.vfims.com/oidc",
      "description": "Global Sandbox"
    },
    {
      "url": "https://uscst-gb.gsc.vficloud.net/oidc",
      "description": "Americas Sandbox"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "EncryptedCardPaymentRequest": {
        "type": "object",
        "properties": {
          "payment_provider_contract": {
            "type": "string",
            "description": "The identifier of payment provider contract you want to process the transaction request with.",
            "format": "uuid-flexible"
          },
          "amount": {
            "type": "integer",
            "description": "Amount is charged without a decimal place e.g. $1.5 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details. For Account Verification transactions, provide 0 as value for this field."
          },
          "auth_type": {
            "type": "string",
            "description": "Flags a payment request for either pre-authorization or final authorization.\n\n* `PRE_AUTH` is used when the authorized amount is unknown and can be adjusted later.\n\n* `FINAL_AUTH` is used when a final authorized amount is known and the transaction will definitely be captured in whole.",
            "enum": [
              "PRE_AUTH",
              "FINAL_AUTH"
            ],
            "default": "FINAL_AUTH"
          },
          "capture_now": {
            "type": "boolean",
            "description": "Whether auto-capture or not. Setting the value to 'false' will only authorize the transaction.",
            "default": true
          },
          "customer": {
            "type": "string",
            "description": "The ID of a customer.",
            "format": "uuid-flexible",
            "title": "Customer ID"
          },
          "customer_ip": {
            "description": "The IP Address of the customer where the transaction was initiated.",
            "maxLength": 15,
            "oneOf": [
              {
                "type": "string",
                "format": "ipv4"
              },
              {
                "type": "string",
                "format": "ipv6"
              }
            ]
          },
          "dynamic_descriptor": {
            "type": "string",
            "description": "A short [descriptor](https://en.wikipedia.org/wiki/Billing_descriptor) to be shown on bank statement of the customer. Please refer to the integration guide for the format requirements.",
            "maxLength": 25
          },
          "invoice_number": {
            "type": "string",
            "title": "Invoice Number",
            "description": "Optional. The invoice number to track this payment.",
            "maxLength": 127
          },
          "merchant_reference": {
            "type": "string",
            "description": "A reference specified by the merchant to identify the transaction.",
            "maxLength": 50
          },
          "threed_authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ThreedAuthenticationDto",
                "description": "MPI authentication data. Please refer to the integration guide for information on its usage."
              }
            ]
          },
          "stored_credential": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StoredCredentialDto"
              },
              {
                "title": "Stored Credential Payment",
                "description": "The definition of a stored credential payment.",
                "discriminator": {
                  "propertyName": "stored_credential_type",
                  "mapping": {
                    "SIGNUP": "#/components/schemas/StoredCredentialSignUp"
                  }
                }
              }
            ]
          },
          "shipping_information": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ShippingInformation"
              },
              {
                "title": "Shipping Address",
                "description": "The address where the purchased goods should be delivered to.\n<br><b>Please use customer_details.shipping.</b>",
                "deprecated": true
              }
            ]
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetailsDto"
              }
            ]
          },
          "shopper_interaction": {
            "type": "string",
            "description": "Determines the sales channel the shopper gives their card details through:\n\n * `ECOMMERCE` Online transactions where the cardholder is present.\n\n * `MAIL` order transactions where the shopper is in contact with the merchant via email.\n\n * `TELEPHONE` order transactions where the shopper is in contact with the merchant via telephone.",
            "enum": [
              "ECOMMERCE",
              "MAIL",
              "TELEPHONE"
            ],
            "default": "ECOMMERCE"
          },
          "user_agent": {
            "type": "string",
            "description": "The full user agent string of the device the customer used to submit the transaction.",
            "maxLength": 256
          },
          "sales_description": {
            "type": "string",
            "description": "A reference used by the merchant to typically capture a description of the service provided. It could then be used by the merchant to help locate transactions. One could envision a situation where a merchant is trying to locate a transaction/ receipt but in speaking with the customer, the only (or at least a predominant) detail is what service was rendered",
            "maxLength": 200
          },
          "sca_exemption": {
            "type": "string",
            "description": "Use this field to request your transaction to be exempted from the application of the Strong Customer Authentication (SCA). Be advised that the use of this field may result to your liability in case of fraudulent transaction.\n\n Possible Values:\n\n 1 - Low value payment\n\n 2 - Acquirer Transaction Risk Analysis\n\n 3 - Trusted beneficiary exemption\n\n 4 - Secure Corporate Payment (SCP) exemption\n\n 5 - Merchant Initiated Transaction\n\n 6 - SCA Delegation",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6"
            ]
          },
          "currency_code": {
            "type": "string",
            "title": "Currency Code",
            "description": "Three-letter ISO 4217 alphabetical currency code. e.g. USD.\n\n Values correspond to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LVL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STD",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XTS",
              "XXX",
              "YER",
              "ZAR",
              "ZMK",
              "ZMW",
              "BTC"
            ]
          },
          "card_brand": {
            "$ref": "#/components/schemas/CardBrand"
          },
          "brand_choice": {
            "type": "string",
            "description": "For dual-branded cards identifies whether selection is made by a cardholder or merchant.",
            "enum": [
              "MERCHANT",
              "CARDHOLDER"
            ],
            "default": "MERCHANT"
          },
          "credit_term": {
            "type": "string",
            "description": "An indicator to show under which terms the credit was provided.",
            "default": "STANDARD",
            "enum": [
              "STANDARD",
              "PREFERED",
              "DEBIT",
              "INSTALMENT_STANDARD",
              "INSTALMENT_CREDIT"
            ]
          },
          "instalment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InstalmentDto",
                "title": "instalment",
                "description": "The details on the instalment-scheme that should be enacted by the issuer."
              }
            ]
          },
          "refusal_reason": {
            "type": "string",
            "title": "Refusal Reason",
            "description": "The reason a transaction has been refused within the payment ecosystem by the client/Verifone/acquirer. This needs to be set by the component that is refusing this transaction request.",
            "enum": [
              "ACQUIRER_COMMS_FAILURE",
              "ACQUIRER_REFUSED",
              "CARD_BRAND_NOT_ACCEPTED",
              "CARD_EXPIRED",
              "CARD_NOT_ACCEPTED",
              "CARD_NOT_VALID",
              "CARD_PRODUCT_NOT_ACCEPTED",
              "ORIGINAL_TRANSACTION_NOT_FOUND",
              "INVALID_BIN",
              "PARTIAL_AUTH_NOT_ALLOWED",
              "RECEIPT_FAILURE",
              "REFUND_NOT_ACCEPTED",
              "THREEDSECURE_FAILED_ACS",
              "THREEDSECURE_FAILED_AUTH",
              "THREEDSECURE_FAILED_COMMS",
              "UNAPPROVED_OPERATOR",
              "UNKNOWN_REASON"
            ]
          },
          "encrypted_card": {
            "type": "string",
            "title": "Client encrypted cardholder data",
            "description": "The cardholder data encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.\n\n The data to encrypt is a JSON with possible tags being cardNumber, sequenceNumber, cardholderName, startMonth, startYear, expiryMonth, expiryYear, cvv. This should be a single JSON line and should not contain any spaces. Read <a target=\"_blank\" style=\"color:blue;\" href=\"https://docs.verifone.com/online-payments/api-integration-methods-auth-and-endpoints/secure-card-capture-key\">Secure card capture key</a> for details.\n\n Additionally, a tag called captureTime must be presenting indicating the time the card was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z. Encrypted card is valid for only 15 minutes."
          },
          "token_preference": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenPreferenceDto",
                "title": "Token Preference",
                "description": "Contains the properties required to create a token"
              }
            ]
          },
          "encrypted_svc_access_code": {
            "type": "string",
            "title": "Client encrypted SVC Access Code",
            "description": "The SVC Access Code encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.\n\nThe data to encrypt is a JSON with tag svcAccessCode.\n\nAdditionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z."
          },
          "public_key_alias": {
            "type": "string",
            "title": "Public Key Alias",
            "description": "The alias for the public key used to encrypt this card."
          },
          "promo_code": {
            "type": "string",
            "description": "A code defined by the merchant that affects the calculation of the total amount."
          },
          "promo_financing_details": {
            "$ref": "#/components/schemas/PromoFinancingDetails"
          },
          "purchase_order_number": {
            "title": "Purchase Order Number",
            "description": "The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme). This field is part of so-called Level 2 data.\n",
            "type": "string",
            "maxLength": 17
          },
          "tax_indicator": {
            "title": "Tax Indicator",
            "description": "This field indicates the taxable status of the transaction (if any of the purchased items are taxable). This field is part of so-called Level 2 data. If the value `TAX_PROVIDED` is sent, `tax_amount` should also be provided\n",
            "type": "string",
            "enum": [
              "TAX_PROVIDED",
              "TAX_NOT_PROVIDED",
              "NON_TAXABLE"
            ],
            "default": "TAX_NOT_PROVIDED"
          },
          "receipt_type": {
            "type": "string",
            "description": "Defines the type of receipt to be generated",
            "enum": [
              "FULL_RECEIPT",
              "INVOICE",
              "INVOICE_RECEIPT",
              "SIMPLE_RECEIPT",
              "NONE"
            ]
          }
        },
        "required": [
          "payment_provider_contract",
          "amount",
          "currency_code",
          "encrypted_card",
          "public_key_alias"
        ]
      },
      "ThreedAuthenticationDto": {
        "type": "object",
        "properties": {
          "eci_flag": {
            "type": "string",
            "description": "Electronic Commerce Indicator (ECI). The ECI value is part of the 2 data elements that indicate the transaction was processed electronically.This should be passed on the authorization transaction to the Gateway/Processor.Please refer to the integration guide for information on its usage.",
            "enum": [
              "05",
              "06",
              "07",
              "02",
              "01",
              "00"
            ]
          },
          "enrolled": {
            "type": "string",
            "enum": [
              "Y",
              "N",
              "U",
              "B"
            ],
            "description": "The enrolment response status of Authentication eligibility from the Directory Server.\n\nPossible Values:\n\n * `Y` - Yes, Bank is participating in 3-D Secure protocol and will return the ACSUrl.\n\n * `N` - No, Bank is not participating in 3-D Secure protocol.\n\n * `U` - Unavailable,  the DS or ACS is not available for authentication at the time of the request.\n\n * `B` - Bypass, merchant authentication rule is triggered to bypass authentication in this use case.\n\nNOTE: If the Enrolled value is NOT Y, then the Consumer is NOT eligible for Authentication."
          },
          "cavv": {
            "type": "string",
            "minLength": 28,
            "maxLength": 48,
            "description": "Cardholder Authentication Verification Value (CAVV). Base64-encoded values of 28 or 32 characters. Hex-encoded values of 40 or 48 characters."
          },
          "cavv_algorithm": {
            "type": "string",
            "description": "The algorithm used to generate the CAVV value. Supported for 3D Secure v1 only."
          },
          "pares_status": {
            "type": "string",
            "enum": [
              "Y",
              "N",
              "U",
              "A",
              "C",
              "R"
            ],
            "description": "Authentication response code.\n\nPossible Values:\n\n * `Y` - Successful Authentication.\n\n * `N` - Failed Authentication.\n\n * `U` - Unable to Complete Authentication\n\n * `A` - Successful Attempts Transaction.\n\n * `C` - Challenge Required for Authentication.\n\n * `R` - Authentication Rejected."
          },
          "xid": {
            "type": "string",
            "description": "The transaction identifier assigned by Directory Server. Supported for 3D Secure v1 only."
          },
          "threeds_version": {
            "type": "string",
            "enum": [
              "1.0.2",
              "2.1.0",
              "2.2.0"
            ],
            "description": "The 3DS version used to process the transaction."
          },
          "ds_transaction_id": {
            "type": "string",
            "description": "The unique transaction identifier assigned by the Directory Server. Supported for 3D Secure v2 only."
          },
          "signature_verification": {
            "type": "string",
            "enum": [
              "Y",
              "N"
            ],
            "description": "Transaction Signature status identifier.\n\n Possible Values:\n\n *  `Y` - Indicates that the signature of the PARes has been validated successfully and the message contents can be trusted.\n\n * `N` - Indicates that the PARes could not be validated. This result could be for a variety of reasons; tampering, certificate expiration, etc., and the result should not be trusted."
          },
          "verification": {
            "type": "array",
            "description": "Any verification/authentication responses captured as part of the submission of the transaction. e.g. 3DS response values or ACRQ/ARCP. For some mPos transactions the verification may be performed on-device e.g. ApplePay, Face ID or Touch ID.",
            "items": {
              "type": "string",
              "enum": [
                "DENIED",
                "NON_PARTICIPATION",
                "UNABLE_TO_AUTHENTICATE",
                "MERCHANT_NOT_ENROLLED",
                "WITH_CRYPTOGRAM",
                "WITHOUT_CRYPTOGRAM"
              ]
            }
          },
          "error_desc": {
            "type": "string",
            "description": "Application error description for the associated error number(s).\n\n NOTE: Multiple error descriptions are separated by a comma."
          },
          "error_no": {
            "type": "string",
            "description": "Application error number(s). A non-zero value represents the error encountered while attempting to process the message request.\n\n NOTE: Multiple error numbers are separated by a comma."
          },
          "authentication_amount": {
            "type": "integer",
            "title": "amount",
            "description": "Amount is charged without a decimal place e.g. $1.5 = 150.\nThe required number of decimal places for a currency code is according to ISO 4217.\nFor Account Verification transactions, provide 0 as value for this field."
          },
          "additional_data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AdditionalDataDto",
                "description": "Additional 3DS data, which may be required in the particular payment request."
              }
            ]
          }
        }
      },
      "AdditionalDataDto": {
        "type": "object",
        "properties": {
          "total_items": {
            "type": "number",
            "description": "Number of purchased items or services.",
            "minimum": 0,
            "maximum": 99
          },
          "device_channel": {
            "type": "string",
            "enum": [
              "SDK",
              "BROWSER"
            ],
            "description": "Determines the channel that the transaction came through."
          },
          "status_reason": {
            "type": "string",
            "description": "Provides additional information as to why the PAResStatus has the specific value.\n\n **NOTE**: Required for Payment (e.g. Authentication Indicator equals 01 on Lookup Request) transactions when PAResStatus is equal to N, U, or R in the Lookup Response."
          },
          "challenge_indicator": {
            "type": "string",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "90"
            ],
            "description": "This is a 2.0 required field. Possible values are:\n\n * `01` No preference\n\n * `02` No challenge requested\n\n * `03` Challenge requested (3DS Requestor preference)\n\n * `04` Challenge requested (Mandate)\n\n * `90` Used to call the CB Scoring platform"
          },
          "challenge_cancel": {
            "type": "string",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07"
            ],
            "description": "Indicator informing the ACS and the DS that the authentication has been cancelled.\n\n Possible values are:\n\n * `01` Cardholder selected \u201cCancel\u201d\n\n * `02` 3DS Requestor cancelled Authentication.\n\n * `03` Transaction Abandoned\n\n * `04` Transaction Timed Out at ACS \u2014 other timeouts\n\n * `05` Transaction Timed Out at ACS \u2014 First CReq not received by ACS\n\n * `06` Transaction Error\n\n * `07` Unknown"
          },
          "acs_url": {
            "type": "string",
            "maxLength": 2048,
            "description": "The fully qualified URL to redirect the Consumer to complete the Consumer Authentication transaction.\n\n **NOTE**: Available if Enrolled = Y"
          },
          "acs_operator_id": {
            "type": "string",
            "maxLength": 32,
            "description": "DS assigned ACS identifier. Each DS can provide a unique ID to each ACS on an individual basis."
          },
          "network_score": {
            "type": "string",
            "maxLength": 2,
            "format": "number",
            "description": "The global score calculated by the CB Scoring platform."
          },
          "reason_code": {
            "type": "string",
            "description": "The error code indicating a problem with this transaction."
          },
          "reason_desc": {
            "type": "string",
            "description": "Text and additional detail about the error for this transaction. NOTE: This field concatenates the errorDescription and errorDetail from the authentication response message."
          }
        }
      },
      "StoredCredentialDto": {
        "type": "object",
        "properties": {
          "stored_credential_type": {
            "type": "string",
            "enum": [
              "SIGNUP",
              "CHARGE"
            ],
            "description": "The definition of a stored credential payment."
          },
          "processing_model_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProcessingModelDetailsDto"
              }
            ]
          },
          "first_payment": {
            "type": "boolean",
            "description": "Whether auto-capture or not. Setting this to 'false' will only authorize the transaction."
          },
          "scheme_reference": {
            "type": "string",
            "description": "Scheme Reference Data returned in the initial transaction"
          }
        },
        "required": [
          "stored_credential_type",
          "processing_model_details"
        ]
      },
      "ProcessingModelDetailsDto": {
        "type": "object",
        "properties": {
          "total_payment_number": {
            "type": "number",
            "description": "Total paymant Number."
          },
          "total_payment_amount": {
            "type": "number",
            "description": "total Payment Amount."
          },
          "first_payment_amount": {
            "type": "number",
            "description": "first Payment Amount."
          },
          "payment_frequency": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentFrequency"
              }
            ]
          },
          "processing_model": {
            "type": "string",
            "enum": [
              "UNSCHEDULED_CREDENTIAL_ON_FILE",
              "CREDENTIAL_ON_FILE",
              "RECURRING",
              "NONE",
              "REAUTHORIZATION"
            ],
            "description": "Processing model to use for COF transaction. Refer to the card integration guide for more information on the usage."
          },
          "merchant_signup_code": {
            "type": "string",
            "description": "A pre-defined signup code between the merchant and the acquirer."
          },
          "current_payment_number": {
            "type": "number",
            "description": "The current number of recurring payments."
          },
          "amount_fixed": {
            "type": "boolean",
            "default": false,
            "description": "Set `true` to indicate that recurring charges are of the same amount (often used for subscriptions), and set `false` to indicate variable amount between charges (often used for standing orders with fixed schedule)."
          }
        },
        "required": [
          "processing_model"
        ]
      },
      "PaymentFrequency": {
        "type": "object",
        "properties": {
          "time_unit": {
            "type": "string",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ],
            "description": "Processing model to use for COF transaction. Refer to the card integration guide for more information on the usage."
          },
          "value": {
            "type": "number",
            "description": "Value."
          }
        },
        "required": [
          "time_unit"
        ]
      },
      "ShippingInformation": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "maxLength": 300,
            "description": "Street address of the recipient."
          },
          "city": {
            "type": "string",
            "maxLength": 28,
            "description": "City of the recipient."
          },
          "country": {
            "type": "string",
            "maxLength": 2,
            "minLength": 2,
            "format": "country-code",
            "description": "A 2-letter ISO3166 alpha-2 country code for the address."
          },
          "postal_code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "description": "A postal code for the address."
          },
          "email": {
            "type": "string",
            "title": "Email Address",
            "minLength": 3,
            "maxLength": 254,
            "format": "email",
            "description": "A valid internationalized email address, as defined by RFC 5322, RFC 6530, and other RFCs. Due to RFC 5321, an email address can be up to 254 characters long even though up to 64 characters are allowed before and 255 characters are allowed after the @ sign. This pattern verifies only that the string contains an unquoted @ sign. See https://tools.ietf.org/html/rfc5322#section-3.4.1."
          },
          "first_name": {
            "type": "string",
            "maxLength": 100,
            "description": "First name of the recipient."
          },
          "last_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Last name of the recipient."
          },
          "phone": {
            "type": "number",
            "maxLength": 15,
            "description": "Numbers only, no dash or any other separator."
          },
          "state": {
            "type": "string",
            "maxLength": 35,
            "description": "A region / state / province for the address."
          }
        },
        "required": [
          "address",
          "city",
          "country",
          "postal_code"
        ]
      },
      "CustomerDetailsDto": {
        "type": "object",
        "title": "Customer",
        "description": "Customer information containing billing and shipping details.",
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string",
            "description": "The prefix to the party name. This is sometimes referred to as a title, salutation or appellation.",
            "maxLength": 120
          },
          "first_name": {
            "type": "string",
            "description": "The first name of the Customer. This may be a proper name or some form of entity name or nickname.",
            "maxLength": 100
          },
          "middle_name": {
            "type": "string",
            "description": "The middle name of the Customer. This may be a proper name or some form of entity name or nickname.",
            "maxLength": 100
          },
          "last_name": {
            "type": "string",
            "description": "The last name or family name of the Customer.",
            "maxLength": 100
          },
          "company_name": {
            "type": "string",
            "description": "Where the Customer is an organisation or company this name should be used rather than the firstName lastName",
            "maxLength": 100
          },
          "phone_number": {
            "type": "string",
            "description": "Customers phone number for billing address.",
            "maxLength": 25
          },
          "email_address": {
            "type": "string",
            "title": "email",
            "format": "email",
            "description": "Customer email address, which might be used during refund flow."
          },
          "shipping": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetailsShippingInformationDto"
              }
            ]
          },
          "billing": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BillingDto"
              },
              {
                "description": "The address of billing.",
                "title": "Billing Address"
              }
            ]
          },
          "language": {
            "type": "string",
            "title": "language",
            "description": "The BCP-47 language tag. The tag is composed of:\n\n* The ISO-639 alpha-1 or ISO-639 alpha-2 language code\n\n* (Optional) The ISO-15924 script tag\n\n* The ISO-3166 alpha-2 country code\n\n `NOTE:`The value is case-insensitive, so for example \"he\" and \"HE\" should be considered equal."
          }
        }
      },
      "CustomerDetailsShippingInformationDto": {
        "type": "object",
        "additionalProperties": false,
        "description": "The address where the purchased goods should be delivered to.",
        "title": "Shipping Address",
        "properties": {
          "address": {
            "type": "string",
            "maxLength": 300,
            "description": "Street address of the recipient."
          },
          "city": {
            "type": "string",
            "maxLength": 28,
            "description": "City of the recipient."
          },
          "country": {
            "type": "string",
            "maxLength": 2,
            "minLength": 2,
            "format": "country-code",
            "description": "A 2-letter ISO3166 alpha-2 country code for the address."
          },
          "postal_code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "description": "A postal code for the address."
          },
          "email": {
            "type": "string",
            "title": "Email Address",
            "minLength": 3,
            "maxLength": 254,
            "format": "email",
            "description": "A valid internationalized email address, as defined by RFC 5322, RFC 6530, and other RFCs. Due to RFC 5321, an email address can be up to 254 characters long even though up to 64 characters are allowed before and 255 characters are allowed after the @ sign. This pattern verifies only that the string contains an unquoted @ sign. See https://tools.ietf.org/html/rfc5322#section-3.4.1."
          },
          "first_name": {
            "type": "string",
            "maxLength": 100,
            "description": "First name of the recipient."
          },
          "last_name": {
            "type": "string",
            "maxLength": 100,
            "description": "Last name of the recipient."
          },
          "phone": {
            "type": "string",
            "maxLength": 18,
            "description": "Telephone number."
          },
          "state": {
            "type": "string",
            "maxLength": 35,
            "description": "A region / state / province for the address."
          }
        },
        "required": [
          "address",
          "city",
          "country",
          "postal_code"
        ]
      },
      "BillingDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "address_1": {
            "type": "string",
            "maxLength": 40,
            "description": "Customer's primary billing address information."
          },
          "address_2": {
            "type": "string",
            "maxLength": 40,
            "description": "Customer's secondary billing address information."
          },
          "address_3": {
            "type": "string",
            "maxLength": 40,
            "description": "Customer's third billing address information."
          },
          "city": {
            "type": "string",
            "maxLength": 28,
            "description": "Customer's city on their billing address"
          },
          "country": {
            "type": "string",
            "title": "Country Code",
            "description": "The ISO 3166-1 alpha-3 country code.",
            "enum": [
              "ZZ",
              "AD",
              "AE",
              "AF",
              "AG",
              "AI",
              "AL",
              "AM",
              "AO",
              "AQ",
              "AR",
              "AS",
              "AT",
              "AU",
              "AW",
              "AX",
              "AZ",
              "BA",
              "BB",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BL",
              "BM",
              "BN",
              "BO",
              "BQ",
              "BR",
              "BS",
              "BT",
              "BV",
              "BW",
              "BY",
              "BZ",
              "CA",
              "CC",
              "CD",
              "CF",
              "CG",
              "CH",
              "CI",
              "CK",
              "CL",
              "CM",
              "CN",
              "CO",
              "CR",
              "CU",
              "CV",
              "CW",
              "CX",
              "CY",
              "CZ",
              "DE",
              "DJ",
              "DK",
              "DM",
              "DO",
              "DZ",
              "EC",
              "EE",
              "EG",
              "EH",
              "ER",
              "ES",
              "ET",
              "FI",
              "FJ",
              "FK",
              "FM",
              "FO",
              "FR",
              "GA",
              "GB",
              "GD",
              "GE",
              "GF",
              "GG",
              "GH",
              "GI",
              "GL",
              "GM",
              "GN",
              "GP",
              "GQ",
              "GR",
              "GS",
              "GT",
              "GU",
              "GW",
              "GY",
              "HK",
              "HM",
              "HN",
              "HR",
              "HT",
              "HU",
              "ID",
              "IE",
              "IL",
              "IM",
              "IN",
              "IO",
              "IQ",
              "IR",
              "IS",
              "IT",
              "JE",
              "JM",
              "JO",
              "JP",
              "KE",
              "KG",
              "KH",
              "KI",
              "KM",
              "KN",
              "KP",
              "KR",
              "KW",
              "KY",
              "KZ",
              "LA",
              "LB",
              "LC",
              "LI",
              "LK",
              "LR",
              "LS",
              "LT",
              "LU",
              "LV",
              "LY",
              "MA",
              "MC",
              "MD",
              "ME",
              "MF",
              "MG",
              "MH",
              "MK",
              "ML",
              "MM",
              "MN",
              "MO",
              "MP",
              "MQ",
              "MR",
              "MS",
              "MT",
              "MU",
              "MV",
              "MW",
              "MX",
              "MY",
              "MZ",
              "NA",
              "NC",
              "NE",
              "NF",
              "NG",
              "NI",
              "NL",
              "NO",
              "NP",
              "NR",
              "NU",
              "NZ",
              "OM",
              "PA",
              "PE",
              "PF",
              "PG",
              "PH",
              "PK",
              "PL",
              "PM",
              "PN",
              "PR",
              "PS",
              "PT",
              "PW",
              "PY",
              "QA",
              "RE",
              "RO",
              "RS",
              "RU",
              "RW",
              "SA",
              "SB",
              "SC",
              "SD",
              "SE",
              "SG",
              "SH",
              "SI",
              "SJ",
              "SK",
              "SL",
              "SM",
              "SN",
              "SO",
              "SR",
              "SS",
              "ST",
              "SV",
              "SX",
              "SY",
              "SZ",
              "TC",
              "TD",
              "TF",
              "TG",
              "TH",
              "TJ",
              "TK",
              "TL",
              "TM",
              "TN",
              "TO",
              "TR",
              "TT",
              "TV",
              "TW",
              "TZ",
              "UA",
              "UG",
              "UM",
              "US",
              "UY",
              "UZ",
              "VA",
              "VC",
              "VE",
              "VG",
              "VI",
              "VN",
              "VU",
              "WF",
              "WS",
              "YE",
              "YT",
              "ZA",
              "ZM",
              "ZW"
            ]
          },
          "phone": {
            "type": "string",
            "maxLength": 25,
            "description": "Customer's phone number for billing address. This should be un formatted without hyphens. (e.g. 4422345678)"
          },
          "postal_code": {
            "type": "string",
            "maxLength": 10,
            "description": "Customer's postal code of their billing address."
          },
          "state": {
            "type": "string",
            "maxLength": 35,
            "description": "Customer's state or province of their billing address. (e,g. Ohio = OH, Texas = TX)"
          }
        }
      },
      "CardBrand": {
        "type": "string",
        "title": "The Card Type",
        "description": "Represents a Card type or brand. It should correspond to a consistent name, the list of standard names is as follows:\n\nValue |  Description\n------|-------------\nAMEX|American Express\nCB|Carte Bancaires\nDINERS|Diners Club International\nDISCOVER|Diners Club Discover\nJCB|Japan Credit Bureau\nMAESTRO|Multi-national Debit (MasterCard)\nMASTERCARD|MasterCard\nVISA|Visa\nUPI|Union Pay International\nGIFT_CARD|Gift Card (Generic)\nPLCC|Private Label Credit Card\n**Other local schemes as applicable**. Enter a pre-defined name to represent the scheme or type. \n**Note**:  1. For gift cards, card brand is mandatory and the value should be GIFT_CARD.\n2. This parameter is mandatory for dual branded cards."
      },
      "InstalmentDto": {
        "type": "object",
        "properties": {
          "down_payment_amount": {
            "type": "number",
            "title": "Amount Simple Type",
            "description": "The value, which can be anything from: An integer - for currencies that are not typically fractional, such as JPY. A three-place decimal fraction - for currencies that are subdivided into thousandths, such as TND. An eight-place decimal fraction - for currencies such as Bitcoin. For the required number of decimal places for a currency code, see ISO 4217"
          },
          "number_of_instalments": {
            "type": "number",
            "description": "The number of individual parts that the total amount should be paid in."
          },
          "instalment_amount": {
            "type": "number",
            "title": "Amount Simple Type",
            "description": "The value, which can be anything from: An integer - for currencies that are not typically fractional, such as JPY. A three-place decimal fraction - for currencies that are subdivided into thousandths, such as TND. An eight-place decimal fraction - for currencies such as Bitcoin. For the required number of decimal places for a currency code, see ISO 4217"
          }
        }
      },
      "TokenPreferenceDto": {
        "type": "object",
        "properties": {
          "token_scope": {
            "type": "string",
            "title": "Token Scope",
            "description": "The token scope under which this token was created.",
            "format": "uuid"
          },
          "reuse_token_type": {
            "title": "Reuse Token Type",
            "description": "The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.<br>\n**Note**: `reuse_token_details` is **mandatory** when `reuse_token_type` is set to `TAVE` or `CHASE`.\n",
            "type": "string",
            "enum": [
              "CHASE",
              "INTERNAL",
              "TAVE"
            ],
            "default": "INTERNAL"
          },
          "token_type": {
            "type": "string",
            "title": "Token Type",
            "description": "Token type",
            "enum": [
              "REUSE",
              "ANALYTICS",
              "REUSE_AND_ANALYTICS"
            ]
          },
          "token_expiry_date": {
            "type": "string",
            "description": "When this Token will expire.",
            "format": "date"
          }
        },
        "required": [
          "token_scope"
        ]
      },
      "PromoFinancingDetails": {
        "title": "Promo Financing",
        "type": "object",
        "description": "Additional details of the special financing offers to customers using private label cards, typically in combination with `promo_code` field.",
        "properties": {
          "promoFinancingType": {
            "description": "Type of special financing information requested. Promotional information may be requested for duration of the promo only (`PROMO_APR`) or for during and after promo period (`PROMO_AND_AFTER_APR`).\",",
            "type": "string",
            "enum": [
              "PROMO_APR",
              "PROMO_AND_AFTER_APR"
            ]
          },
          "promoPlan": {
            "description": "The code or name of a promotional financing plan as set up between merchant and issuer.",
            "type": "string"
          },
          "promoPlanExpiry": {
            "description": "Expiry date for the requested promo plan.",
            "type": "string",
            "format": "date"
          }
        }
      },
      "TokenPaymentRequest": {
        "type": "object",
        "properties": {
          "payment_provider_contract": {
            "type": "string",
            "description": "The identifier of payment provider contract you want to process the transaction request with.",
            "format": "uuid-flexible"
          },
          "amount": {
            "type": "integer",
            "description": "Amount is charged without a decimal place e.g. $1.5 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details. For Account Verification transactions, provide 0 as value for this field."
          },
          "auth_type": {
            "type": "string",
            "description": "Flags a payment request for either pre-authorization or final authorization.\n\n* `PRE_AUTH` is used when the authorized amount is unknown and can be adjusted later.\n\n* `FINAL_AUTH` is used when a final authorized amount is known and the transaction will definitely be captured in whole.",
            "enum": [
              "PRE_AUTH",
              "FINAL_AUTH"
            ],
            "default": "FINAL_AUTH"
          },
          "capture_now": {
            "type": "boolean",
            "description": "Whether auto-capture or not. Setting the value to 'false' will only authorize the transaction.",
            "default": true
          },
          "customer": {
            "type": "string",
            "description": "The ID of a customer.",
            "format": "uuid-flexible",
            "title": "Customer ID"
          },
          "customer_ip": {
            "description": "The IP Address of the customer where the transaction was initiated.",
            "maxLength": 15,
            "oneOf": [
              {
                "type": "string",
                "format": "ipv4"
              },
              {
                "type": "string",
                "format": "ipv6"
              }
            ]
          },
          "dynamic_descriptor": {
            "type": "string",
            "description": "A short [descriptor](https://en.wikipedia.org/wiki/Billing_descriptor) to be shown on bank statement of the customer. Please refer to the integration guide for the format requirements.",
            "maxLength": 25
          },
          "invoice_number": {
            "type": "string",
            "title": "Invoice Number",
            "description": "Optional. The invoice number to track this payment.",
            "maxLength": 127
          },
          "merchant_reference": {
            "type": "string",
            "description": "A reference specified by the merchant to identify the transaction.",
            "maxLength": 50
          },
          "threed_authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ThreedAuthenticationDto",
                "description": "MPI authentication data. Please refer to the integration guide for information on its usage."
              }
            ]
          },
          "encrypted_cvv": {
            "type": "string",
            "description": "The CVV encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.\n\n The data to encrypt is a JSON with tag cvv.\n\n Additionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z.\n\n Sample JSON to encrypt:\n\n    {\n\n    \"cvv\": \"123\"\n\n    \"captureTime\": \"2021-04-27T14:15:22Z\"\n\n    }"
          },
          "encrypted_svc_access_code": {
            "type": "string",
            "title": "Client encrypted SVC Access Code",
            "description": "The SVC Access Code encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.\n\nThe data to encrypt is a JSON with tag svcAccessCode.\n\nAdditionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z."
          },
          "public_key_alias": {
            "type": "string",
            "title": "Public Key Alias",
            "description": "The alias for the public key used to encrypt this card."
          },
          "stored_credential": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StoredCredentialDto"
              },
              {
                "title": "Stored Credential Payment",
                "description": "The definition of a stored credential payment.",
                "discriminator": {
                  "propertyName": "stored_credential_type",
                  "mapping": {
                    "SIGNUP": "#/components/schemas/StoredCredentialSignUp",
                    "CHARGE": "#/components/schemas/StoredCredentialSubsequentCharge"
                  }
                }
              }
            ]
          },
          "receipt_type": {
            "type": "string",
            "description": "Defines the type of receipt to be generated",
            "enum": [
              "FULL_RECEIPT",
              "INVOICE",
              "INVOICE_RECEIPT",
              "SIMPLE_RECEIPT",
              "NONE"
            ]
          },
          "shipping_information": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ShippingInformation"
              },
              {
                "title": "Shipping Address",
                "description": "The address where the purchased goods should be delivered to.\n<br><b>Please use customer_details.shipping.</b>",
                "deprecated": true
              }
            ]
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetailsDto"
              }
            ]
          },
          "shopper_interaction": {
            "type": "string",
            "description": "Determines the sales channel the shopper gives their card details through:\n\n * `ECOMMERCE` Online transactions where the cardholder is present.\n\n * `MAIL` order transactions where the shopper is in contact with the merchant via email.\n\n * `TELEPHONE` order transactions where the shopper is in contact with the merchant via telephone.",
            "enum": [
              "ECOMMERCE",
              "MAIL",
              "TELEPHONE"
            ],
            "default": "ECOMMERCE"
          },
          "user_agent": {
            "type": "string",
            "description": "The full user agent string of the device the customer used to submit the transaction.",
            "maxLength": 256
          },
          "sales_description": {
            "type": "string",
            "description": "A reference used by the merchant to typically capture a description of the service provided. It could then be used by the merchant to help locate transactions. One could envision a situation where a merchant is trying to locate a transaction/ receipt but in speaking with the customer, the only (or at least a predominant) detail is what service was rendered",
            "maxLength": 200
          },
          "sca_exemption": {
            "type": "string",
            "description": "Use this field to request your transaction to be exempted from the application of the Strong Customer Authentication (SCA). Be advised that the use of this field may result to your liability in case of fraudulent transaction.\n\n Possible Values:\n\n 1 - Low value payment\n\n 2 - Acquirer Transaction Risk Analysis\n\n 3 - Trusted beneficiary exemption\n\n 4 - Secure Corporate Payment (SCP) exemption\n\n 5 - Merchant Initiated Transaction\n\n 6 - SCA Delegation",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6"
            ]
          },
          "currency_code": {
            "type": "string",
            "title": "Currency Code",
            "description": "Three-letter ISO 4217 alphabetical currency code. e.g. USD.\n\n Values correspond to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LVL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STD",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XTS",
              "XXX",
              "YER",
              "ZAR",
              "ZMK",
              "ZMW",
              "BTC"
            ]
          },
          "card_brand": {
            "$ref": "#/components/schemas/CardBrand"
          },
          "brand_choice": {
            "type": "string",
            "description": "For dual-branded cards identifies whether selection is made by a cardholder or merchant.",
            "enum": [
              "MERCHANT",
              "CARDHOLDER"
            ],
            "default": "MERCHANT"
          },
          "credit_term": {
            "type": "string",
            "description": "An indicator to show under which terms the credit was provided.",
            "default": "STANDARD",
            "enum": [
              "STANDARD",
              "PREFERED",
              "DEBIT",
              "INSTALMENT_STANDARD",
              "INSTALMENT_CREDIT"
            ]
          },
          "instalment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InstalmentDto",
                "title": "instalment",
                "description": "The details on the instalment-scheme that should be enacted by the issuer."
              }
            ]
          },
          "refusal_reason": {
            "type": "string",
            "title": "Refusal Reason",
            "description": "The reason a transaction has been refused within the payment ecosystem by the client/Verifone/acquirer. This needs to be set by the component that is refusing this transaction request.",
            "enum": [
              "ACQUIRER_COMMS_FAILURE",
              "ACQUIRER_REFUSED",
              "CARD_BRAND_NOT_ACCEPTED",
              "CARD_EXPIRED",
              "CARD_NOT_ACCEPTED",
              "CARD_NOT_VALID",
              "CARD_PRODUCT_NOT_ACCEPTED",
              "ORIGINAL_TRANSACTION_NOT_FOUND",
              "INVALID_BIN",
              "PARTIAL_AUTH_NOT_ALLOWED",
              "RECEIPT_FAILURE",
              "REFUND_NOT_ACCEPTED",
              "THREEDSECURE_FAILED_ACS",
              "THREEDSECURE_FAILED_AUTH",
              "THREEDSECURE_FAILED_COMMS",
              "UNAPPROVED_OPERATOR",
              "UNKNOWN_REASON"
            ]
          },
          "reuse_token": {
            "type": "string",
            "title": "Reuse Token",
            "description": "The Verifone issued reuse token used to represent the previously stored cardholder data.",
            "minLength": 14,
            "maxLength": 255
          },
          "reuse_token_type": {
            "title": "Reuse Token Type",
            "description": "The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.<br>\n**Note**: `reuse_token_details` is **mandatory** when `reuse_token_type` is set to `TAVE` or `CHASE`.\n",
            "type": "string",
            "enum": [
              "CHASE",
              "INTERNAL",
              "TAVE"
            ],
            "default": "INTERNAL"
          },
          "reuse_token_details": {
            "$ref": "#/components/schemas/TokenDetailsRequestBody"
          },
          "promo_code": {
            "type": "string",
            "description": "A code defined by the merchant that affects the calculation of the total amount."
          },
          "promo_financing_details": {
            "$ref": "#/components/schemas/PromoFinancingDetails"
          },
          "purchase_order_number": {
            "title": "Purchase Order Number",
            "description": "The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme). This field is part of so-called Level 2 data.\n",
            "type": "string",
            "maxLength": 17
          },
          "tax_indicator": {
            "title": "Tax Indicator",
            "description": "This field indicates the taxable status of the transaction (if any of the purchased items are taxable). This field is part of so-called Level 2 data. If the value `TAX_PROVIDED` is sent, `tax_amount` should also be provided\n",
            "type": "string",
            "enum": [
              "TAX_PROVIDED",
              "TAX_NOT_PROVIDED",
              "NON_TAXABLE"
            ],
            "default": "TAX_NOT_PROVIDED"
          },
          "detailed_amount": {
            "$ref": "#/components/schemas/DetailedAmount"
          }
        },
        "required": [
          "payment_provider_contract",
          "amount",
          "currency_code",
          "reuse_token"
        ]
      },
      "TokenDetailsRequestBody": {
        "title": "Reuse Token Details",
        "type": "object",
        "properties": {
          "expiry_month": {
            "maximum": 12,
            "type": "integer",
            "description": "A 2 digit value as shown on card. ISO8583 - DE 14.\\n\\nThis is included as an optional value to be used for some Third-Party reuse token types."
          },
          "expiry_year": {
            "maximum": 9999,
            "type": "integer",
            "description": "A 4 digit value as shown on card.\\n\\nThis is included as an optional value to be used for some Third-Party reuse token types."
          }
        },
        "additionalProperties": false,
        "description": "The details related to the token. For Third-Party Reuse tokens, these elements might be required as additional information together with the Reuse token itself.<br>\n**Note**: `reuse_token_details` is **mandatory** when `reuse_token_type` is set to `TAVE` or `CHASE`.\n"
      },
      "DetailedAmount": {
        "title": "Detailed Amount",
        "description": "A structure that represents a breakdown all of the different amounts that may appear on a single transaction.",
        "type": "object",
        "properties": {
          "gratuity_amount": {
            "description": "An optional additional amount representing the tip or gratuity associated with a payment. This should be included in the total 'amount' of the transaction.\n\nAmount is specified without a decimal place e.g. $1.5 = 150.\n\n<i>The required number of decimal places for a currency code is according to ISO 4217.</i>",
            "type": "integer"
          },
          "tax_amount": {
            "title": "Tax Amount",
            "description": "An optional value to specify the amount of any tax that was included  within the total amount for the transaction. This should be included  in the total 'amount' of the transaction.\n\nAmount is specified a decimal place e.g. $1.5 = 150.\n\n<i>The required number of decimal places for a currency code is according to ISO 4217.</i>",
            "type": "integer"
          },
          "surcharge_amount": {
            "title": "Surchange Amount",
            "description": "An optional additional amount representing the surcharge associated with a payment. This should be included in the total 'amount' of the transaction.\n\nAmount is specified without a decimal place e.g. $1.5 = 150.\n\n<i>The required number of decimal places for a currency code is according to ISO 4217.</i>",
            "type": "integer"
          }
        }
      },
      "EcomResponseCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Transaction ID",
            "format": "uuid-flexible",
            "description": "The ID of the transaction."
          },
          "payment_provider_contract": {
            "type": "string",
            "description": "The identifier of payment provider contract you want to process the transaction request with.",
            "format": "uuid-flexible"
          },
          "amount": {
            "type": "integer",
            "description": "Amount is charged without a decimal place e.g. $1.5 = 150. Currencies can have different decimals/exponentials, see Currencies Section for more details. For Account Verification transactions, provide 0 as value for this field."
          },
          "blocked": {
            "type": "boolean",
            "description": "True if the transaction has been blocked by a ruleset, false otherwise"
          },
          "created_at": {
            "type": "string",
            "description": "The time at which the transaction was created.",
            "format": "date-time"
          },
          "customer": {
            "type": "string",
            "description": "The ID of a customer"
          },
          "merchant_reference": {
            "type": "string",
            "description": "A reference specified by the merchant to identify the transaction"
          },
          "payment_product": {
            "type": "string",
            "description": "The payment product corresponding to this transaction"
          },
          "payment_product_type": {
            "type": "string",
            "description": "The name of the processor used for this transaction"
          },
          "processor_reference": {
            "type": "string",
            "description": "Reference identifying the transaction, as provided by the processor."
          },
          "processor_details": {
            "type": "object",
            "description": "Stores all details specific for the processor of the transaction."
          },
          "status": {
            "type": "string",
            "description": "The outcome of the payment request.",
            "title": "Ecommerce Transaction Status",
            "enum": [
              "INITIATED",
              "AUTHORIZED",
              "AUTHORIZATION_VOIDED",
              "CANCELLED",
              "CUSTOMER_ACCEPTED",
              "REFUNDED",
              "FAILED",
              "PENDING",
              "DECLINED",
              "SETTLEMENT_CANCELLED",
              "SETTLEMENT_REQUESTED",
              "SETTLEMENT_SUBMITTED",
              "SETTLEMENT_COMPLETED",
              "SETTLEMENT_PARTIAL",
              "SETTLEMENT_DECLINED",
              "VOIDED",
              "UNKNOWN"
            ]
          },
          "status_reason": {
            "type": "string",
            "description": "Message provided by the 3rd party service as additional information, when the transaction does not succeed."
          },
          "shipping_information": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ShippingInformation"
              },
              {
                "title": "Shipping Address",
                "description": "The address where the purchased goods should be delivered to.\n<br><b>Please use customer_details.shipping.</b>",
                "deprecated": true
              }
            ]
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetailsDto"
              }
            ]
          },
          "arn": {
            "type": "string",
            "description": "Acquirer reference number. Generated by the Acquirer at the time of clearing for card transactions."
          },
          "authorization_code": {
            "type": "string",
            "description": "* When the payment is authorized successfully, this field holds the authorization code for the payment.\n\n* When the payment is not authorized, this field is not returned.",
            "maxLength": 6
          },
          "avs_result": {
            "type": "string",
            "description": "Address verification services result, which provides information about the outcome of the AVS check. The full list of codes and descriptions can be found <a href=\"https://docs.verifone.com/online-payments/fraud-management/address-verification-service-avs\">here</a>",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "I",
              "K",
              "L",
              "M",
              "N",
              "O",
              "P",
              "R",
              "S",
              "T",
              "U",
              "W",
              "X",
              "Y",
              "Z"
            ]
          },
          "card": {
            "type": "string",
            "description": "The token representing the payment card"
          },
          "created_by": {
            "type": "string",
            "description": "The ID of the user who initiated the transaction. Only set when shopper_interaction = moto, mail_order or telephone_order"
          },
          "cvv_present": {
            "type": "boolean",
            "description": "True if the card was used with a cvv"
          },
          "cvv_result": {
            "type": "string",
            "description": "The CVC verification result, which provides information about the outcome of the CVC check.\n\n CVC-CVV result codes:\n * `0` Unknown\n * `1` Matches.\n * `2` Doesn't match.\n * `3` Not checked.\n * `4` No CVC/CVV provided, but was required.\n * `5` Issuer not certified for CVC/CVV.\n * `6` No CVC/CVV provided.\n\n<strong>The following are included only for backwards compatibility. They are deprecated and will be removed in the next major release. The client must take action now to ensure ongoing support.</strong>\n * `M` Match\n * `Y` Match\n * `N` No Match\n * `P` Not Processed\n * `S` CVV Should be present, but Merchant indicates not present.\n * `U` Issuer not certified or registered to process card verification.",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "9",
              "M",
              "Y",
              "N",
              "P",
              "S",
              "U"
            ]
          },
          "cavv_result": {
            "type": "string",
            "description": "This field will be populated for any Verified by Visa transaction and AVV Authorisation message sent by MasterCard SecureCode: This includes CAVV and AEVV from American Express SafeKey.\n\n\n CAVV Transaction Response Code Values:\n\n* `0` CAVV or AEVV Not Validated due to erroneous data submitted.\n\n\n* `1` CAVV or AEVV Failed Validation - Authentication Transaction. This is an indication of potential bad or fraudulent data submitted.\n\n\n* `2` CAVV or AEVV Passed Validation \u2013 Authentication Transaction.\n\n\n* `3` CAVV or AEVV Passed Validation \u2013 Attempted Authentication Transaction. (Determined that the Issuer ACS generated this value from the use of the Issuer\u2019s CAVV/AEVV key[s]).\n\n\n* `4` CAVV or AEVV Failed Validation \u2013 Attempted Authentication Transaction. Attempted Authentication Transaction. This is an indication of potential bad or fraudulent data submitted as the CAVV/AEVV. (Determined that Visa generated this value from the use of CAVV/AEVV key[s]).\n\n\n* `5` Reserved.\n\n\n* `6` CAVV or AEVV Not Validated \u2013 Issuer not participated. This value is generated when an Issuer requests the `do not verify` flag to be established for its BINs. This parameter enables an Issuer to temporarily stop CAVV/AEVV verification while resolving CAVV/AEVV key issues. VisaNet processes this value as a valid CAVV/AEVV.\n\n\n* `7` CAVV or AEVV Failed Validation \u2013 Attempted Authentication Transaction. This is an indication of potential bad or fraudulent data submitted as the CAVV/AEVV. (CAVV/AEVV generated with Visa Key).\n\n\n* `8` CAVV or AEVV Passed Validation \u2013 Attempted Authentication Transaction. (CAVV/AEVV generated with Visa Key).\n\n\n* `9` CAVV or AEVV Failed Validation \u2013 Attempted Authentication Transaction. This is an indication of potential bad or fraudulent data submitted as the CAVV/AEVV (CAVV/AEVV generated with Visa Key \u2013 Issuer ACS unavailable).\n\n\n* `99` An unknown value was returned from the processor.\n\n\n* `A` CAVV or AEVV Passed Validation \u2013 Attempted Authentication Transaction. (CAVV/AEVV generated with Visa Key \u2013 Issuer ACS unavailable).\n\n\n* `B` CAVV or AEVV Failed Validation \u2013 Attempted Authentication Transaction. This is an indication of potential bad or fraudulent data submitted as the CAVV/AEVV. (CAVV/AEVV generated with Visa Key).\n\n\n* `C` CAVV or AEVV Not Validated \u2013 Attempted Authentication Transaction. Issuer did not return a CAVV/AEVV results code in the authorisation response. VisaNet will treat this as valid CAVV/AEVV if the Issuer approves the authorisation.\n\n\n* `D` CAVV or AEVV Not Validated \u2013 Authentication. Issuer did not return a CAVV/AEVV results code in the authorisation response. VisaNet will treat this as valid CAVV/AEVV if the Issuer approves the authorisation.\n\n\n* `I` Invalid Security Data.\n\n\n* `U` Issuer does not participate or 3-D Secure data not utilised.\n\n\n* `NA` Blank CAVV or AEVV Not Present.\n\n\n",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "99",
              "A",
              "B",
              "C",
              "D",
              "I",
              "U",
              "NA"
            ]
          },
          "invoice_number": {
            "type": "string",
            "title": "Invoice Number",
            "description": "Optional. The invoice number to track this payment.",
            "maxLength": 127
          },
          "stored_credential": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StoredCredential",
                "description": "Defines a recurring payment type"
              }
            ]
          },
          "details": {
            "$ref": "#/components/schemas/Details"
          },
          "reason_code": {
            "type": "string",
            "description": "A reason code assigned by the acquiring platform; '0000' in case of success",
            "maxLength": 4
          },
          "rrn": {
            "type": "string",
            "description": "A client (user friendly) identifier for the transaction generated at the outset of a business event. The format will be dependent on the calling system.\n\nA reference supplied by the system retaining the original source information and used to assist in locating that transaction or a copy of the transaction. This value is critical in matching values that are sent to other Payment processors or Acquirers.\n This value would correspond to the **ISO8583 specification as RRN in attribute DE 37, which limits the value to being an alphanumeric value 12 characters.**\n\n For the GSC client android application the format will correspond to <strong>YYMMdd<stan 6 digits></strong>.",
            "maxLength": 12
          },
          "shopper_interaction": {
            "type": "string",
            "description": "Determines the point of sale of a customer. Possible values: pos, moto, mail_order, telephone_order, ecommerce and cont_auth",
            "enum": [
              "ECOMMERCE",
              "MAIL",
              "TELEPHONE"
            ]
          },
          "stan": {
            "type": "string",
            "description": "System Trace Audit Number."
          },
          "threed_authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ThreedAuthentication",
                "description": "MPI authentication data. Please refer to the integration guide for information on its usage."
              }
            ]
          },
          "reversal_status": {
            "type": "string",
            "description": "Indicates to the API client if a technical reversal has been completed by Verifone.",
            "enum": [
              "NONE",
              "REQUIRED",
              "COMPLETED"
            ],
            "default": "NONE"
          },
          "geo_location": {
            "type": "array",
            "description": "The latitude / longitude resolved from the customer's ip address.",
            "items": {
              "type": "number"
            }
          },
          "city": {
            "type": "string",
            "description": "The city resolved from the customer's ip address."
          },
          "country_code": {
            "type": "string",
            "description": "The country code resolved from the customer's ip address."
          },
          "additional_data": {
            "$ref": "#/components/schemas/AdditionalData"
          },
          "token_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenDetails",
                "description": "This object is returned as the response to a request for Create/Update Token."
              }
            ]
          },
          "promo_code": {
            "type": "string",
            "description": "A code defined by the merchant that affects the calculation of the total amount."
          },
          "promo_financing_result": {
            "$ref": "#/components/schemas/PromoFinancingResults"
          },
          "purchase_order_number": {
            "title": "Purchase Order Number",
            "description": "The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme). This field is part of so-called Level 2 data.\n",
            "type": "string",
            "maxLength": 17
          },
          "issuer_instalment_result": {
            "$ref": "#/components/schemas/ecomPaymentResponse_issuer_instalment_result"
          },
          "balance_amount": {
            "type": "integer",
            "title": "balanceAmount",
            "description": "Balance amount is the amount remaining on a card or account of cardholder without a decimal place e.g. $1.5 = 150.\n\nThe required number of decimal places for a currency code is according to ISO 4217. However the following table takes precedence over ISO 4217:"
          }
        }
      },
      "StoredCredential": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Reference of a successfully processed initial COF transaction. Only used by subsequent COF transactions."
          },
          "stored_credential_type": {
            "type": "string"
          },
          "scheme_reference": {
            "type": "string",
            "description": "Scheme Reference Data received from issuer/acquirer."
          },
          "processing_model": {
            "type": "string",
            "enum": [
              "UNSCHEDULED_CREDENTIAL_ON_FILE",
              "CREDENTIAL_ON_FILE",
              "RECURRING",
              "REAUTHORIZATION",
              "NONE"
            ],
            "description": "Processing model to use for COF transaction. Refer to the card integration guide for more information on the usage."
          },
          "details": {
            "deprecated": true,
            "type": "string",
            "enum": [
              "UNSCHEDULED_CREDENTIAL_ON_FILE",
              "CREDENTIAL_ON_FILE",
              "RECURRING"
            ],
            "description": "Processing model to use for COF transaction. Refer to the card integration guide for more information on the usage."
          }
        }
      },
      "Details": {
        "type": "object",
        "properties": {
          "auto_capture": {
            "type": "boolean"
          },
          "mid": {
            "type": "string",
            "format": "integer",
            "description": "Merchant ID (MID)"
          }
        }
      },
      "ThreedAuthentication": {
        "type": "object",
        "properties": {
          "eci_flag": {
            "type": "string",
            "description": "Electronic Commerce Indicator (ECI). The ECI value is part of the 2 data elements that indicate the transaction was processed electronically.This should be passed on the authorization transaction to the Gateway/Processor.Please refer to the integration guide for information on its usage.",
            "enum": [
              "05",
              "06",
              "07",
              "02",
              "01",
              "00"
            ]
          },
          "enrolled": {
            "type": "string",
            "enum": [
              "Y",
              "N",
              "U",
              "B"
            ],
            "description": "The enrolment response status of Authentication eligibility from the Directory Server.\n\nPossible Values:\n\n * `Y` - Yes, Bank is participating in 3-D Secure protocol and will return the ACSUrl.\n\n * `N` - No, Bank is not participating in 3-D Secure protocol.\n\n * `U` - Unavailable,  the DS or ACS is not available for authentication at the time of the request.\n\n * `B` - Bypass, merchant authentication rule is triggered to bypass authentication in this use case.\n\nNOTE: If the Enrolled value is NOT Y, then the Consumer is NOT eligible for Authentication."
          },
          "cavv": {
            "type": "string",
            "minLength": 28,
            "maxLength": 48,
            "description": "Cardholder Authentication Verification Value (CAVV). Base64-encoded values of 28 or 32 characters. Hex-encoded values of 40 or 48 characters."
          },
          "cavv_algorithm": {
            "type": "string",
            "description": "The algorithm used to generate the CAVV value. Supported for 3D Secure v1 only."
          },
          "pares_status": {
            "type": "string",
            "enum": [
              "Y",
              "N",
              "U",
              "A",
              "C",
              "R"
            ],
            "description": "Authentication response code.\n\nPossible Values:\n\n * `Y` - Successful Authentication.\n\n * `N` - Failed Authentication.\n\n * `U` - Unable to Complete Authentication\n\n * `A` - Successful Attempts Transaction.\n\n * `C` - Challenge Required for Authentication.\n\n * `R` - Authentication Rejected."
          },
          "xid": {
            "type": "string",
            "description": "The transaction identifier assigned by Directory Server. Supported for 3D Secure v1 only."
          },
          "threeds_version": {
            "type": "string",
            "enum": [
              "1.0.2",
              "2.1.0",
              "2.2.0"
            ],
            "description": "The 3DS version used to process the transaction."
          },
          "ds_transaction_id": {
            "type": "string",
            "description": "The unique transaction identifier assigned by the Directory Server. Supported for 3D Secure v2 only."
          }
        }
      },
      "AdditionalData": {
        "type": "object",
        "additionalProperties": false,
        "description": "Additional payment result data, which may be required to return in a particular payment response.",
        "properties": {
          "acquirer_response_code": {
            "$ref": "#/components/schemas/acquirerResponseCode"
          },
          "acquirer_response_message": {
            "$ref": "#/components/schemas/acquirerResponseMessage"
          },
          "acquirer_authorizing_network_id": {
            "$ref": "#/components/schemas/acquirerAuthorizingNetworkID"
          },
          "acquirer_authorizing_network_id_descriptor": {
            "$ref": "#/components/schemas/acquirerAuthorizingNetworkIdDescriptor"
          },
          "initiator_trace_id": {
            "$ref": "#/components/schemas/initiatorTraceId"
          },
          "settlement_date": {
            "$ref": "#/components/schemas/settlementDate"
          },
          "issuer_receipt_text": {
            "type": "string",
            "description": "Additional text to print on transaction receipt, which optionally may be provided by the Issuer."
          }
        }
      },
      "acquirerResponseCode": {
        "description": "Acquirer response returned during the authorisation.",
        "type": "string",
        "maxLength": 4
      },
      "acquirerResponseMessage": {
        "description": "The response description generated by the acquirer corresponding to the acquirer response code.",
        "type": "string"
      },
      "acquirerAuthorizingNetworkID": {
        "description": "The Network ID returned in the original authorization response.",
        "type": "string"
      },
      "acquirerAuthorizingNetworkIdDescriptor": {
        "description": "The name or descriptor that corresponds with the `acquirer_authorizing_network_id`  returned in the original authorization response.",
        "type": "string"
      },
      "initiatorTraceId": {
        "description": "A number assigned by a transaction initiator(originator) to assist in identifying a transaction uniquely. The trace identifier remains unchanged for all messages within a two-message exchange, e.g. request/repeat and response. This property can be used to store the System trace audit number (STAN) as used in the ISO8583 specification (DE 11). Note the contents of this field are mandatory in many specifications - ISO8583, AS2805 (DE11) and are often related to the Retrieval Reference Number (RRN) as also specified in ISO8583. Unfortunately due to the usage in these earlier specifications, a STAN was limited to 6 digits which means that it cannot be utilised as a general purpose unique id. In addition, this entry is often printed on the receipt at a POI.\n This value will correspond to **ISO8583 DE11.**\n `Note: Use response.stan value for initiator_trace_id`",
        "type": "string",
        "maxLength": 40,
        "deprecated": true
      },
      "settlementDate": {
        "description": "This will reflect either the desired Merchant settlement date or the actual settlement date depending where the transaction request is within the payment lifecycle. A transaction may be assigned an intended settlement date, but it is possible that this date will not occur for technical reasons hence there should be a subsequent event to indicate the actual date of settlement. Format is date only as per RFC 3339.",
        "type": "string",
        "format": "date"
      },
      "TokenDetails": {
        "type": "object",
        "properties": {
          "reuse_token": {
            "type": "string",
            "description": "The Verifone issued reuse token used to represent the previously stored cardholder data.",
            "minLength": 14,
            "maxLength": 255
          },
          "reuse_token_type": {
            "title": "Reuse Token Type",
            "description": "The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.",
            "type": "string",
            "enum": [
              "CHASE",
              "INTERNAL",
              "TAVE"
            ]
          },
          "analytics_token": {
            "type": "string",
            "description": "A token that cannot be reversed to Card Holder data. This is included in a Payment for auditing and tracking purposes."
          },
          "token_expiry_date": {
            "type": "string",
            "format": "date",
            "description": "When this Token will expire."
          },
          "token_scope": {
            "type": "string",
            "format": "uuid",
            "description": "The token scope under which this token was created."
          },
          "token_status": {
            "type": "string",
            "enum": [
              "DELETED",
              "ACTIVE",
              "SUSPENDED"
            ],
            "description": "The status of the Token."
          },
          "created_at": {
            "type": "string",
            "format": "date",
            "description": "The date when this token was first created."
          },
          "updated_at": {
            "type": "string",
            "format": "date",
            "description": "The last date token was updated."
          },
          "variant": {
            "type": "string",
            "description": "The variant of the card. eg. NEW_WORLD"
          },
          "type": {
            "type": "string",
            "enum": [
              "CREDIT",
              "DEBIT"
            ],
            "description": "The type of card application or account selection."
          },
          "issuer_name": {
            "type": "string",
            "description": "The issuer of this card. eg. HSBC, BARCLAYS."
          },
          "issuer_country": {
            "$ref": "#/components/schemas/issuerCountryEnum"
          },
          "brand": {
            "type": "string",
            "description": "The brand of this card. eg. VISA, MASTERCARD, AMEX."
          },
          "expiry_year": {
            "type": "integer",
            "description": "A 4 digit value as shown on card.",
            "maximum": 9999
          },
          "expiry_month": {
            "type": "integer",
            "description": "A 2 digit value as shown on card. ISO8583 - DE 14",
            "maximum": 12
          },
          "card_holder_name": {
            "type": "string",
            "description": "The Card holder name as it appears on the card.",
            "maxLength": 30
          },
          "last_four": {
            "type": "string",
            "description": "The last 4 digits of the card number.",
            "maxLength": 4
          },
          "bin": {
            "type": "string",
            "description": "The Bank Identification Number (also called IIN - Issuer Identification Number) of this card.",
            "minLength": 4,
            "maxLength": 11
          },
          "currency_code": {
            "type": "string",
            "title": "Currency Code",
            "description": "Three-letter ISO 4217 alphabetical currency code. e.g. USD. Values correspond\nto [ISO 4217](https://wikipedia.org/wiki/ISO_4217).",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LVL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STD",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XTS",
              "XXX",
              "YER",
              "ZAR",
              "ZMK",
              "ZMW",
              "BTC"
            ]
          }
        }
      },
      "issuerCountryEnum": {
        "type": "string",
        "description": "The [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country code.<blockquote><strong>Note:</strong> The country code for Great Britain is <code>GB</code> and not <code>UK</code> as is used in that country's top-level domain names.</blockquote>.",
        "enum": [
          "ZZZ",
          "ABW",
          "AFG",
          "AGO",
          "AIA",
          "ALA",
          "ALB",
          "AND",
          "ARE",
          "ARG",
          "ARM",
          "ASM",
          "ATA",
          "ATF",
          "ATG",
          "AUS",
          "AUT",
          "AZE",
          "BDI",
          "BEL",
          "BEN",
          "BES",
          "BFA",
          "BGD",
          "BGR",
          "BHR",
          "BHS",
          "BIH",
          "BLM",
          "BLR",
          "BLZ",
          "BMU",
          "BOL",
          "BRA",
          "BRB",
          "BSB",
          "BRN",
          "BTN",
          "BVT",
          "BWA",
          "CAF",
          "CAN",
          "CCK",
          "CHE",
          "CHL",
          "CHN",
          "CIV",
          "CMR",
          "COD",
          "COG",
          "COK",
          "COL",
          "COM",
          "CPV",
          "CRI",
          "CUB",
          "CUW",
          "CXR",
          "CYM",
          "CYP",
          "CZE",
          "DEU",
          "DJI",
          "DMA",
          "DNK",
          "DOM",
          "DZA",
          "ECU",
          "EGY",
          "ERI",
          "ESH",
          "ESP",
          "EST",
          "ETH",
          "FIN",
          "FJI",
          "FLK",
          "FRA",
          "FRO",
          "FSM",
          "GAB",
          "GBR",
          "GEO",
          "GGY",
          "GHA",
          "GIB",
          "GIN",
          "GLP",
          "GMB",
          "GNB",
          "GNQ",
          "GRC",
          "GRD",
          "GRL",
          "GTM",
          "GUF",
          "GUM",
          "GUY",
          "HKG",
          "HMD",
          "HND",
          "HRV",
          "HTI",
          "HUN",
          "IDN",
[...]
